Repository Manavault-Dev/nuroo-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

.lintstagedrc.json:

{
  "app/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "components/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "lib/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "types/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "backend/src/routes/**/*.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "backend/src/plugins/**/*.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "backend/src/{config,firebaseAdmin,index,types}.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "*.{js,jsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

refactor: simplify backend token cache
  backend/src/index.ts
  backend/src/infrastructure/cache/token-cache.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

fix: resolve merge conflict in index.ts — restore External modules comment
  backend/src/index.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat: add event API routes
  backend/src/domains/events/events.marketplace.routes.ts
  backend/src/domains/events/events.routes.ts
  backend/src/domains/events/events.types.ts
  backend/src/domains/events/index.ts
  backend/src/domains/system/index.ts
  backend/src/index.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat: add B2B event management
  app/[locale]/(b2b)/b2b/events/page.tsx
  app/globals.css
  components/ui/DateTimePicker.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: extend B2B admin navigation
  app/[locale]/(b2b)/b2b/admin/page.tsx
  app/[locale]/(b2b)/b2b/admin/system/page.tsx
  components/b2b/Sidebar.tsx
Due: eslint --fix, prettier --write

feat: show events in marketplace
  app/[locale]/marketplace/MarketplaceClient.tsx
Due: eslint --fix, prettier --write

feat: link landing tabs to marketplace
  components/landing/Hero.tsx
  components/landing/HowItWorks.tsx
Due: eslint --fix, prettier --write

fix: update next version
  package-lock.json
  package.json
Due: prettier --write

fix: use profile name for event registrations
  backend/src/domains/events/events.marketplace.routes.ts
Due: none
