Repository Manavault-Dev/nuroo-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

fix: improve seo of landing page
  app/[locale]/page.tsx
  app/layout.tsx
  app/sitemap.ts
Due: eslint --fix, prettier --write

fix: getting error from finik api put right key
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/modules/payments/payments.service.ts
Due: prettier --write

feat(b2b): submission attachment preview and media proxy
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  app/[locale]/(b2b)/b2b/groups/page.tsx
  app/[locale]/(b2b)/b2b/invites/page.tsx
  app/[locale]/(b2b)/b2b/reports/page.tsx
  app/[locale]/layout.tsx
  app/api/media/route.ts
  app/globals.css
  backend/src/plugins/rbac.ts
  backend/src/routes/children.ts
  backend/src/routes/groups.ts
  backend/src/routes/invites.ts
  backend/src/routes/orgContent.ts
  backend/src/routes/parentTasks.ts
  backend/src/routes/reports.ts
  components/Hero.tsx
  components/Platform.tsx
  components/ScrollInit.tsx
  components/ScrollProgress.tsx
  components/Solution.tsx
  components/b2b/ContentManagement.tsx
  components/b2b/Sidebar.tsx
  lib/b2b/api.ts
  lib/useScrollReveal.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

fix: eslint issues solved
  backend/src/routes/children.ts
  backend/src/routes/groups.ts
  backend/src/routes/orgContent.ts
  backend/src/routes/reports.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

fix: solved typescript issues
  app/[locale]/(b2b)/b2b/groups/page.tsx
  app/api/media/route.ts
  components/Hero.tsx
  components/ScrollProgress.tsx
  components/Solution.tsx
  components/b2b/ContentManagement.tsx
  components/b2b/Sidebar.tsx
  lib/b2b/api.ts
  types/heic-convert.d.ts
Due: eslint --fix, prettier --write

fix: prettier typecheck issues solved
  app/globals.css
Due: prettier --write

fix: solve the ci issue
  .github/workflows/deploy-production.yml
  .github/workflows/release.yml
  app/[locale]/(b2b)/b2b/groups/page.tsx
  components/Hero.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

fix: ru translations and hide billing for specialist
  app/[locale]/(b2b)/b2b/billing/cancel/page.tsx
  app/[locale]/(b2b)/b2b/billing/page.tsx
  app/[locale]/(b2b)/b2b/billing/success/page.tsx
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  app/[locale]/(b2b)/b2b/groups/page.tsx
  components/b2b/ContentManagement.tsx
  components/b2b/Sidebar.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

feat: add pdf export for reports
  app/[locale]/(b2b)/b2b/reports/page.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: responsive layout issues for organizer and specialist
  app/[locale]/(b2b)/b2b/children/page.tsx
  app/[locale]/(b2b)/b2b/groups/page.tsx
  app/[locale]/(b2b)/b2b/invites/page.tsx
  app/[locale]/(b2b)/b2b/settings/page.tsx
  app/[locale]/(b2b)/b2b/team/page.tsx
  components/b2b/Sidebar.tsx
Due: eslint --fix, prettier --write

fix: solved conflicts
  .codex-logs/backend-dev.log
  .codex-logs/frontend-dev.log
  app/[locale]/(b2b)/b2b/organization/page.tsx
  backend/package-lock.json
  backend/package.json
  backend/src/routes/me.ts
  backend/src/routes/orgs.ts
  backend/src/shared/types/common.ts
  backend/src/types.ts
  lib/b2b/AuthContext.tsx
  lib/b2b/api.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
  package-lock.json
  src/config/env.ts
  src/shared/lib/api/client.ts
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

chore: ignore build outputs (dist/.next) and remove from tracking
  .gitignore
Due: none

fix: typecheck resolving
  app/[locale]/(b2b)/b2b/billing/page.tsx
  app/[locale]/(b2b)/b2b/groups/page.tsx
  app/[locale]/(b2b)/b2b/invites/page.tsx
  components/b2b/Sidebar.tsx
  lib/b2b/usePageAuth.ts
Due: eslint --fix, prettier --write

chore: ignore .codex-logs and remove from repo; fix Cloud Run deploy (clear env before secrets)
  .codex-logs/backend-dev.log
  .codex-logs/frontend-dev.log
  .github/workflows/deploy-production.yml
  .gitignore
Due: prettier --write

fix(backend): standardize port to 3101 for API and CORS
  backend/.env.example
  backend/src/config.ts
  backend/src/config/cors.ts
  backend/src/config/env.ts
  backend/src/index.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

fix(b2b): improve mobile sidebar burger menu on tablet and Team page
  app/[locale]/(b2b)/layout.tsx
  components/b2b/Header.tsx
  components/b2b/Sidebar.tsx
Due: eslint --fix, prettier --write

fix(i18n): remove duplicate B2B page titles in content
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: prettier --write

fix: yaml file for deployment
  .github/workflows/deploy-production.yml
Due: prettier --write

Path conditions:
  eslint --fix: (((((any of: app/**/*.{ts,tsx}) or (any of: components/**/*.{ts,tsx})) or (any of: lib/**/*.{ts,tsx})) or (any of: src/**/*.{ts,tsx})) or (any of: types/**/*.{ts,tsx})) or (any of: *.{js,jsx,mjs})
  prettier --write: ((((((((((any of: app/**/*.{ts,tsx}) or (any of: components/**/*.{ts,tsx})) or (any of: lib/**/*.{ts,tsx})) or (any of: src/**/*.{ts,tsx})) or (any of: types/**/*.{ts,tsx})) or (any of: backend/src/routes/**/*.ts)) or (any of: backend/src/plugins/**/*.ts)) or (any of: backend/src/{config,firebaseAdmin,index,types}.ts)) or (any of: *.{js,jsx,mjs})) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  eslint --fix --config backend/.eslintrc.json: ((any of: backend/src/routes/**/*.ts) or (any of: backend/src/plugins/**/*.ts)) or (any of: backend/src/{config,firebaseAdmin,index,types}.ts)
