Repository Manavault-Dev/nuroo-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

.lintstagedrc.json:

{
  "app/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "components/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "lib/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "types/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "backend/src/routes/**/*.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "backend/src/plugins/**/*.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "backend/src/{config,firebaseAdmin,index,types}.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "*.{js,jsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

fix(backend): P0/P1 content access and reports bugs
  backend/src/index.ts
  backend/src/modules/parent-api/parent.routes.ts
  backend/src/routes/content.ts
  backend/src/routes/reports.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat(frontend): add contentActivity to reports UI
  app/[locale]/(b2b)/b2b/reports/page.tsx
  lib/b2b/api.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

refactor(backend): remove dead code and unused modules
  backend/src/app.ts
  backend/src/modules/admin/admin.repository.ts
  backend/src/modules/admin/admin.routes.ts
  backend/src/modules/admin/admin.schema.ts
  backend/src/modules/admin/admin.service.ts
  backend/src/modules/admin/index.ts
  backend/src/modules/assignments/assignments.repository.ts
  backend/src/modules/assignments/assignments.routes.ts
  backend/src/modules/assignments/assignments.schema.ts
  backend/src/modules/assignments/assignments.service.ts
  backend/src/modules/assignments/index.ts
  backend/src/modules/children/children.repository.ts
  backend/src/modules/children/children.routes.ts
  backend/src/modules/children/children.service.ts
  backend/src/modules/children/children.types.ts
  backend/src/modules/children/index.ts
  backend/src/modules/health/health.routes.ts
  backend/src/modules/health/index.ts
  backend/src/modules/invites/index.ts
  backend/src/modules/invites/invites.repository.ts
  backend/src/modules/invites/invites.routes.ts
  backend/src/modules/invites/invites.schema.ts
  backend/src/modules/invites/invites.service.ts
  backend/src/modules/notes/index.ts
  backend/src/modules/notes/notes.repository.ts
  backend/src/modules/notes/notes.routes.ts
  backend/src/modules/notes/notes.schema.ts
  backend/src/modules/notes/notes.service.ts
  backend/src/modules/parents/index.ts
  backend/src/modules/parents/parents.repository.ts
  backend/src/modules/parents/parents.routes.ts
  backend/src/modules/parents/parents.schema.ts
  backend/src/modules/parents/parents.service.ts
  backend/src/modules/users/index.ts
  backend/src/modules/users/users.repository.ts
  backend/src/modules/users/users.routes.ts
  backend/src/modules/users/users.service.ts
  backend/src/modules/users/users.types.ts
  backend/src/server.ts
Due: none

chore(backend): remove Super Admin role and global admin routes
  backend/src/index.ts
  backend/src/infrastructure/auth/authPlugin.ts
  backend/src/infrastructure/auth/claims.ts
  backend/src/plugins/rbac.ts
  backend/src/plugins/superAdmin.ts
  backend/src/routes/admin.ts
  backend/src/routes/bootstrap.ts
  backend/src/routes/content.ts
  backend/src/routes/dev.ts
  backend/src/routes/me.ts
  backend/src/routes/superAdminManagement.ts
  backend/src/shared/guards/index.ts
  backend/src/shared/guards/superAdmin.guard.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat(backend): org content routes and task file upload
  backend/src/infrastructure/database/firebase.ts
  backend/src/routes/orgContent.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

chore(frontend): remove Super Admin UI and redirects
  app/[locale]/(b2b)/b2b/admin/page.tsx
  app/[locale]/(b2b)/b2b/content/page.tsx
  app/[locale]/(b2b)/b2b/login/page.tsx
  app/[locale]/(b2b)/b2b/onboarding/page.tsx
  app/[locale]/(b2b)/layout.tsx
  components/b2b/Header.tsx
  components/b2b/Sidebar.tsx
  lib/b2b/AuthContext.tsx
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

feat(landing): Google Play link, availability copy, hero spacing
  components/Features.tsx
  components/GooglePlayButton.tsx
  components/Hero.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

refactor(ui): shared PricingCard, professional pricing style
  app/[locale]/(b2b)/b2b/billing/page.tsx
  components/Pricing.tsx
  components/ui/PricingCard.tsx
Due: eslint --fix, prettier --write

feat(b2b): ContentManagement fix, org task upload, assignments page
  app/[locale]/(b2b)/b2b/assignments/page.tsx
  components/b2b/ContentManagement.tsx
Due: eslint --fix, prettier --write

feat(backend): branches, finance, parentTasks; update payments, children, groups, config
  app/[locale]/(b2b)/b2b/branches/page.tsx
  app/[locale]/(b2b)/b2b/finance/page.tsx
  backend/src/config/index.ts
  backend/src/modules/payments/payments.schema.ts
  backend/src/modules/payments/payments.service.ts
  backend/src/modules/payments/planLimits.ts
  backend/src/routes/branches.ts
  backend/src/routes/children.ts
  backend/src/routes/finance.ts
  backend/src/routes/groups.ts
  backend/src/routes/parentTasks.ts
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

chore(frontend): pages, Footer, Header, Platform, Solution, Spinner, usePageAuth, pricing
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  app/[locale]/(b2b)/b2b/groups/page.tsx
  app/[locale]/(b2b)/b2b/reports/page.tsx
  app/[locale]/page.tsx
  app/not-found.tsx
  components/Footer.tsx
  components/Header.tsx
  components/Platform.tsx
  components/Solution.tsx
  components/ui/Spinner.tsx
  lib/b2b/usePageAuth.ts
  lib/pricing/planFeatureKeys.ts
Due: eslint --fix, prettier --write

fix: added new enterprise billing plan
  backend/src/modules/payments/payments.repository.ts
  backend/src/modules/payments/payments.service.ts
Due: none

fix: fixing ci errors
  backend/src/firebaseAdmin.ts
  backend/src/infrastructure/middleware/requestLogger.ts
  backend/src/modules/parent-api/parent.repository.ts
  backend/src/modules/parent-api/parent.routes.ts
  backend/src/modules/payments/payments.repository.ts
  backend/src/modules/payments/payments.routes.ts
  backend/src/modules/payments/payments.service.ts
  backend/src/routes/assignments.ts
  backend/src/routes/bootstrap.ts
  backend/src/routes/branches.ts
  backend/src/routes/children.ts
  backend/src/routes/content.ts
  backend/src/routes/groups.ts
  backend/src/routes/invites.ts
  backend/src/routes/orgContent.ts
  backend/src/routes/parents.ts
  backend/src/routes/reports.ts
  backend/src/routes/session.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

fix: fixed frontent ci error
  .eslintrc.json
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  app/[locale]/(b2b)/b2b/finance/page.tsx
  app/[locale]/(b2b)/b2b/groups/page.tsx
  app/[locale]/(b2b)/b2b/onboarding/page.tsx
  app/[locale]/(b2b)/b2b/reports/page.tsx
  app/[locale]/(b2b)/b2b/settings/page.tsx
  app/not-found.tsx
  components/Hero.tsx
  components/Pricing.tsx
  components/ThemeProvider.tsx
  components/b2b/ContentManagement.tsx
  components/ui/PricingCard.tsx
  lib/b2b/AuthContext.tsx
  lib/b2b/authClient.ts
  lib/b2b/firestore.ts
  lib/firebase/config.ts
Due: eslint --fix, prettier --write

fix: fixing typecheck error
  app/[locale]/(b2b)/b2b/groups/page.tsx
  lib/b2b/firestore.ts
Due: eslint --fix, prettier --write

fix: fixed error replace and resolve eslint
  app/[locale]/(b2b)/b2b/groups/page.tsx
Due: eslint --fix, prettier --write

fix: vercel deploying problem solved
  .vercelignore
  vercel.json
Due: prettier --write

fix: error from vercel buiding solving
  next.config.js
  package-lock.json
  package.json
  vercel.json
Due: eslint --fix, prettier --write

fix: change the version of node
  package.json
Due: prettier --write

fix: npm errors in vercel
  next.config.js
  vercel.json
Due: eslint --fix, prettier --write

fix: improve seo of landing page
  app/[locale]/page.tsx
  app/layout.tsx
  app/sitemap.ts
Due: eslint --fix, prettier --write
