Repository Manavault-Dev/nuroo-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

feat: add metadata for public support pages
  app/[locale]/connect/layout.tsx
  app/[locale]/help/page.tsx
  app/[locale]/privacy/page.tsx
Due: eslint --fix, prettier --write

ci: avoid canceling push workflow runs
  .github/workflows/ci.yml
Due: prettier --write

feat: centralize public site SEO urls
  app/[locale]/connect/page.tsx
  app/[locale]/opengraph-image.tsx
  app/[locale]/page.tsx
  app/opengraph-image.tsx
  app/robots.ts
  app/sitemap.ts
  lib/seo/site.ts
Due: eslint --fix, prettier --write

fix: render localized shell in light mode
  app/[locale]/layout.tsx
  app/layout.tsx
  messages/ru.json
  public/manifest.json
Due: eslint --fix, prettier --write

chore: update backend security dependencies
  backend/package-lock.json
  backend/package.json
Due: prettier --write

fix(ci): skip playwright --with-deps, cache-hit guard to speed up E2E
  .github/workflows/ci.yml
Due: prettier --write

fix: delete ai voice assistant
  app/[locale]/(b2b)/b2b/components/assistant/actions/addChildToGroup.ts
  app/[locale]/(b2b)/b2b/components/assistant/actions/assignHomework.ts
  app/[locale]/(b2b)/b2b/components/assistant/actions/createGroup.ts
  app/[locale]/(b2b)/b2b/components/assistant/actions/createSession.ts
  app/[locale]/(b2b)/b2b/components/assistant/actions/sendReminder.ts
  app/[locale]/(b2b)/b2b/components/assistant/executor.ts
  app/[locale]/(b2b)/b2b/components/assistant/hooks/useVoiceReady.ts
  app/[locale]/(b2b)/b2b/components/assistant/index.tsx
  app/[locale]/(b2b)/b2b/components/assistant/intent/intentTypes.ts
  app/[locale]/(b2b)/b2b/components/assistant/intent/parseIntent.ts
  app/[locale]/(b2b)/b2b/components/assistant/intent/validators.ts
  app/[locale]/(b2b)/b2b/components/assistant/nlp.ts
  app/[locale]/(b2b)/b2b/components/assistant/translations.ts
  app/[locale]/(b2b)/b2b/components/assistant/types.ts
  app/[locale]/(b2b)/b2b/components/assistant/ui.tsx
  app/[locale]/(b2b)/b2b/components/assistant/ui/ActionFeedback.tsx
  app/[locale]/(b2b)/b2b/components/assistant/ui/ConfirmationCard.tsx
  app/[locale]/(b2b)/b2b/components/assistant/ui/MessageBubble.tsx
  app/[locale]/(b2b)/b2b/components/assistant/useAssistant.ts
  app/[locale]/(b2b)/b2b/page.tsx
  backend/src/index.ts
  backend/src/modules/ai-assistant/index.ts
  backend/src/modules/ai-assistant/intentRoutes.test.ts
  backend/src/modules/ai-assistant/intentRoutes.ts
  backend/src/modules/ai-assistant/prompt.ts
  backend/src/modules/ai-assistant/routes.ts
  backend/src/modules/ai-assistant/service.ts
  lib/b2b/api.ts
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

feat: support Nuroo product plans
  backend/src/domains/organizations/orgs.routes.ts
  backend/src/domains/users/me.routes.ts
  backend/src/shared/types/domain.ts
  lib/b2b/api.ts
  lib/pricing/planFeatureConfig.ts
  src/config/routes.ts
Due: eslint --fix, prettier --write

feat: gate Nuroo Business features
  app/[locale]/(b2b)/b2b/assignments/page.tsx
  app/[locale]/(b2b)/b2b/branches/page.tsx
  app/[locale]/(b2b)/b2b/brand/page.tsx
  app/[locale]/(b2b)/b2b/finance/page.tsx
  app/[locale]/(b2b)/b2b/reports/page.tsx
  app/[locale]/(b2b)/b2b/team/page.tsx
  components/b2b/PlanGate.tsx
  components/b2b/Sidebar.tsx
  components/b2b/UpgradeScreen.tsx
  lib/b2b/planGate.ts
Due: eslint --fix, prettier --write

feat: rebuild B2B onboarding plans
  app/[locale]/(b2b)/b2b/billing/page.tsx
  app/[locale]/(b2b)/b2b/onboarding/page.tsx
Due: eslint --fix, prettier --write

feat: add legal consent APIs
  backend/src/domains/legal/legal.routes.ts
  backend/src/domains/legal/legal.types.ts
  backend/src/index.ts
  lib/b2b/api.ts
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

feat: add public legal documents
  app/[locale]/legal/parental-consent/page.tsx
  app/[locale]/legal/privacy/page.tsx
  app/[locale]/legal/terms/page.tsx
  app/[locale]/privacy/page.tsx
  docs/LEGAL_REVIEW_REQUIRED.md
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

feat: require legal consent in B2B
  app/[locale]/(b2b)/b2b/register/page.tsx
  app/[locale]/(b2b)/b2b/settings/page.tsx
  app/[locale]/(b2b)/b2b/settings/privacy/page.tsx
Due: eslint --fix, prettier --write

feat: add B2B password reset flow
  app/[locale]/(b2b)/b2b/forgot-password/page.tsx
  app/[locale]/(b2b)/b2b/login/page.tsx
  app/[locale]/(b2b)/layout.tsx
  backend/src/domains/auth/password-reset.routes.ts
  backend/src/index.ts
  backend/src/modules/email/email.templates.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

feat: add Google Workspace integrations page
  app/[locale]/(b2b)/b2b/integrations/page.tsx
  backend/src/domains/calendar/calendar.routes.ts
  components/b2b/Sidebar.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

feat: persist onboarding specializations
  app/[locale]/(b2b)/b2b/onboarding/page.tsx
  backend/src/domains/organizations/orgs.routes.ts
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

feat: highlight onboarding free trial
  app/[locale]/(b2b)/b2b/onboarding/page.tsx
Due: eslint --fix, prettier --write

chore: format backend password reset code
  backend/src/domains/auth/password-reset.routes.ts
  backend/src/modules/email/email.templates.ts
Due: none

test: add backend unit test coverage
  backend/package.json
  backend/src/domains/children/__tests__/children.service.test.ts
  backend/src/domains/cohorts/__tests__/cohorts.auth.test.ts
Due: prettier --write

fix: handle invalid timeline day queries
  backend/src/domains/children/children.service.ts
Due: none

feat: harden and version backend API
  backend/package-lock.json
  backend/package.json
  backend/src/config/env.ts
  backend/src/index.ts
  backend/src/infrastructure/cache/token-cache.ts
  lib/b2b/api.ts
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

refactor: split cohort route modules
  backend/src/domains/cohorts/cohorts.attendance.routes.ts
  backend/src/domains/cohorts/cohorts.helpers.ts
  backend/src/domains/cohorts/cohorts.participants.routes.ts
  backend/src/domains/cohorts/cohorts.routes.ts
  backend/src/domains/cohorts/cohorts.sessions.routes.ts
  backend/src/domains/cohorts/index.ts
Due: none

feat: cache marketplace listing APIs
  backend/src/domains/cohorts/cohorts.marketplace.routes.ts
  backend/src/domains/organizations/orgs.routes.ts
Due: none

feat: expand marketplace discovery and booking
  app/[locale]/marketplace/BookingPanel.tsx
  app/[locale]/marketplace/MarketplaceClient.tsx
  app/[locale]/marketplace/[orgId]/page.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

feat: add locale error boundary
  app/[locale]/error.tsx
Due: eslint --fix, prettier --write

test: align cohort auth member mocks
  backend/src/domains/cohorts/__tests__/cohorts.auth.test.ts
Due: none

chore: format backend cohort changes
  backend/src/domains/children/__tests__/children.service.test.ts
  backend/src/domains/cohorts/__tests__/cohorts.auth.test.ts
  backend/src/domains/cohorts/cohorts.attendance.routes.ts
  backend/src/domains/cohorts/cohorts.helpers.ts
  backend/src/domains/cohorts/cohorts.marketplace.routes.ts
  backend/src/domains/cohorts/cohorts.participants.routes.ts
  backend/src/domains/cohorts/cohorts.routes.ts
  backend/src/domains/cohorts/cohorts.sessions.routes.ts
  backend/src/domains/organizations/orgs.routes.ts
  backend/src/infrastructure/cache/token-cache.ts
Due: none

Path conditions:
  eslint --fix: (((((any of: app/**/*.{ts,tsx}) or (any of: components/**/*.{ts,tsx})) or (any of: lib/**/*.{ts,tsx})) or (any of: src/**/*.{ts,tsx})) or (any of: types/**/*.{ts,tsx})) or (any of: *.{js,jsx,mjs})
  prettier --write: ((((((((((any of: app/**/*.{ts,tsx}) or (any of: components/**/*.{ts,tsx})) or (any of: lib/**/*.{ts,tsx})) or (any of: src/**/*.{ts,tsx})) or (any of: types/**/*.{ts,tsx})) or (any of: backend/src/routes/**/*.ts)) or (any of: backend/src/plugins/**/*.ts)) or (any of: backend/src/{config,firebaseAdmin,index,types}.ts)) or (any of: *.{js,jsx,mjs})) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  eslint --fix --config backend/.eslintrc.json: ((any of: backend/src/routes/**/*.ts) or (any of: backend/src/plugins/**/*.ts)) or (any of: backend/src/{config,firebaseAdmin,index,types}.ts)
