Repository Manavault-Dev/nuroo-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

feat(landing): add IndependentPath section to home page
  app/[locale]/page.tsx
  components/IndependentPath.tsx
Due: eslint --fix, prettier --write

feat(landing): refresh Solution, Platform, and app store buttons
  components/AppStoreButton.tsx
  components/GooglePlayButton.tsx
  components/Platform.tsx
  components/Solution.tsx
Due: eslint --fix, prettier --write

refactor(b2b): load reports in parallel on dashboard
  app/[locale]/(b2b)/b2b/page.tsx
Due: eslint --fix, prettier --write

fix(b2b): stop persisting API token in localStorage
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

feat(backend): add compress and rate-limit; tighten RBAC and routes
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/modules/payments/payments.routes.ts
  backend/src/plugins/rbac.ts
  backend/src/routes/children.ts
  backend/src/routes/finance.ts
  backend/src/routes/invites.ts
  backend/src/routes/notes.ts
  backend/src/routes/reports.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

fix: fixing ci issues
  app/[locale]/(b2b)/b2b/children/page.tsx
  app/[locale]/(b2b)/b2b/components/assistant/index.tsx
  app/[locale]/(b2b)/b2b/page.tsx
Due: eslint --fix, prettier --write

fix: workflow issues
  app/[locale]/(b2b)/b2b/components/assistant/executor.ts
  app/[locale]/(b2b)/b2b/components/assistant/index.tsx
Due: eslint --fix, prettier --write

fix: payment route function fixed
  backend/src/modules/payments/payments.routes.ts
Due: none

refactor(backend): parent AI route, ESLint no-empty, Prettier
  backend/.eslintrc.json
  backend/src/config.ts
  backend/src/config/env.ts
  backend/src/config/index.ts
  backend/src/index.ts
  backend/src/infrastructure/auth/authPlugin.ts
  backend/src/infrastructure/database/collections.ts
  backend/src/infrastructure/middleware/errorHandler.ts
  backend/src/modules/ai-assistant/intentRoutes.ts
  backend/src/modules/ai-assistant/service.ts
  backend/src/modules/parent-api/parent.repository.ts
  backend/src/modules/parent-api/parent.routes.ts
  backend/src/modules/parent-api/parent.service.ts
  backend/src/modules/payments/payments.routes.ts
  backend/src/modules/payments/payments.service.ts
  backend/src/plugins/rbac.ts
  backend/src/routes/bootstrap.ts
  backend/src/routes/branches.ts
  backend/src/routes/branding.ts
  backend/src/routes/children.ts
  backend/src/routes/content.ts
  backend/src/routes/dev.ts
  backend/src/routes/finance.ts
  backend/src/routes/groups.ts
  backend/src/routes/invites.ts
  backend/src/routes/join.ts
  backend/src/routes/orgContent.ts
  backend/src/routes/orgs.ts
  backend/src/routes/parentAi.ts
  backend/src/routes/parentTasks.ts
  backend/src/routes/reports.ts
  backend/src/routes/team.ts
  backend/src/shared/guards/childAccess.guard.ts
  backend/src/shared/utils/inviteCode.ts
  backend/src/shared/utils/response.ts
  backend/src/shared/utils/timestamp.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat(backend): add push tokens + notification service
  backend/src/index.ts
  backend/src/routes/assignments.ts
  backend/src/routes/notes.ts
  backend/src/routes/parentTasks.ts
  backend/src/routes/pushTokens.ts
  backend/src/services/pushNotificationService.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

chore(backend): Prettier fix for push notification service
  backend/src/services/pushNotificationService.ts
Due: none

fix(i18n): localize new children and child-detail strings
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  app/[locale]/(b2b)/b2b/children/page.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

feat(backend): add specialistAi route with OpenAI improveInstruction JSON
  backend/src/index.ts
  backend/src/routes/specialistAi.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat(api): add improveInstruction on ApiClient calling specialistAi
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

feat(ui): add AIInstructionHelper for org task instruction drafting
  components/b2b/AIInstructionHelper.tsx
Due: eslint --fix, prettier --write

feat(ui): ContentManagement AI helper, description CTA, org assignment UI
  components/b2b/ContentManagement.tsx
Due: eslint --fix, prettier --write

i18n: assignments AI helper and improve-description strings en ru ky
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: prettier --write

fix: delete issue with content-type json problem resolved
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

feat: parent contact self-service + child overview polish
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  backend/src/routes/children.ts
  backend/src/routes/parents.ts
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

fix: PATCH /api/parent/profile — upsert instead of 404 when no doc exists
  backend/src/routes/parents.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

fix: remove collectionGroup query that required missing Firestore index
  backend/src/routes/parents.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

Path conditions:
  eslint --fix: (((((any of: app/**/*.{ts,tsx}) or (any of: components/**/*.{ts,tsx})) or (any of: lib/**/*.{ts,tsx})) or (any of: src/**/*.{ts,tsx})) or (any of: types/**/*.{ts,tsx})) or (any of: *.{js,jsx,mjs})
  prettier --write: ((((((((((any of: app/**/*.{ts,tsx}) or (any of: components/**/*.{ts,tsx})) or (any of: lib/**/*.{ts,tsx})) or (any of: src/**/*.{ts,tsx})) or (any of: types/**/*.{ts,tsx})) or (any of: backend/src/routes/**/*.ts)) or (any of: backend/src/plugins/**/*.ts)) or (any of: backend/src/{config,firebaseAdmin,index,types}.ts)) or (any of: *.{js,jsx,mjs})) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  eslint --fix --config backend/.eslintrc.json: ((any of: backend/src/routes/**/*.ts) or (any of: backend/src/plugins/**/*.ts)) or (any of: backend/src/{config,firebaseAdmin,index,types}.ts)
