Repository Manavault-Dev/nuroo-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

fix: remove collectionGroup query that required missing Firestore index
  backend/src/routes/parents.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

fix: surface parent contact info (phone/whatsapp/address) on B2B child profile
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  backend/src/routes/children.ts
  backend/src/types.ts
  lib/b2b/api.ts
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

feat: auto-populate Guardians tab from parent's app-linked contact data
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  backend/src/routes/children.ts
  lib/b2b/api.ts
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

i18n: add parentAppConnectionTitle for child detail en ru ky
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: prettier --write

fix(connect): prefer org legal name over branding display name
  app/[locale]/connect/page.tsx
Due: eslint --fix, prettier --write

fix(backend): set mediaType on org content task media create
  backend/src/routes/orgContent.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

docs(backend): clarify public vs member branding routes in branding
  backend/src/routes/branding.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

fix: changed the null and add the string
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
Due: eslint --fix, prettier --write

feat: added new route and fix the ci workflow for gcp
  .github/workflows/deploy-production.yml
  backend/src/routes/parents.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

chore: add Firestore composite indexes config for members and children queries
  firebase.json
  firestore.indexes.json
Due: prettier --write

fix(backend): add fallback strategies for /me organization membership lookup
  backend/src/routes/me.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

fix(backend): persist uid field on org member docs when joining or creating org
  backend/src/routes/invitesAccept.ts
  backend/src/routes/join.ts
  backend/src/routes/orgs.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat(billing): add plan feature matrix, limits, and org capability checks in planLimits
  backend/src/modules/payments/planLimits.ts
Due: none

feat(backend): add POST /orgs/:orgId/children with plan child-limit enforcement
  backend/src/routes/children.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat(backend): gate finance routes behind enterprise plan finance feature flag
  backend/src/routes/finance.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

fix(billing): update Finik plan prices and rebrand payment description to Nuroo
  backend/src/modules/payments/payments.service.ts
Due: none

feat(billing): expose usage counts, features, and status badge on billing status API
  backend/src/modules/payments/payments.routes.ts
Due: none

feat(auth): add role-aware post-login workspace path helpers with redirect param
  src/config/routes.ts
Due: eslint --fix, prettier --write

feat(b2b): redirect authenticated users to role workspace and preserve return URL
  app/[locale]/(b2b)/layout.tsx
Due: eslint --fix, prettier --write

refactor(b2b): simplify login form and delegate post-auth navigation to layout
  app/[locale]/(b2b)/b2b/login/page.tsx
Due: eslint --fix, prettier --write

feat(ui): add BillingBadge component for subscription status labels
  components/ui/BillingBadge.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (((((any of: app/**/*.{ts,tsx}) or (any of: components/**/*.{ts,tsx})) or (any of: lib/**/*.{ts,tsx})) or (any of: src/**/*.{ts,tsx})) or (any of: types/**/*.{ts,tsx})) or (any of: *.{js,jsx,mjs})
  prettier --write: ((((((((((any of: app/**/*.{ts,tsx}) or (any of: components/**/*.{ts,tsx})) or (any of: lib/**/*.{ts,tsx})) or (any of: src/**/*.{ts,tsx})) or (any of: types/**/*.{ts,tsx})) or (any of: backend/src/routes/**/*.ts)) or (any of: backend/src/plugins/**/*.ts)) or (any of: backend/src/{config,firebaseAdmin,index,types}.ts)) or (any of: *.{js,jsx,mjs})) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  eslint --fix --config backend/.eslintrc.json: ((any of: backend/src/routes/**/*.ts) or (any of: backend/src/plugins/**/*.ts)) or (any of: backend/src/{config,firebaseAdmin,index,types}.ts)
