Repository Manavault-Dev/nuroo-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

fix: git release fixed
  .github/workflows/release.yml
Due: prettier --write

ci: update release workflow
  .github/workflows/release.yml
Due: prettier --write

feat: improve auth flow and UI
  app/(b2b)/b2b/login/page.tsx
  app/(b2b)/layout.tsx
  components/b2b/Header.tsx
  components/b2b/Sidebar.tsx
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

ci: remove environment blocks from staging and preview workflows
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-staging.yml
Due: prettier --write

chore: add Docker configuration
  backend/.dockerignore
  backend/Dockerfile
Due: none

fix: docker file fixed
  backend/Dockerfile
Due: none

fix: clear token from localStorage on signOut
  lib/b2b/AuthContext.tsx
  lib/b2b/authClient.ts
Due: eslint --fix, prettier --write

ci: simplify production deployment workflow
  .github/workflows/deploy-production.yml
Due: prettier --write

chore: update Next.js config and styles
  app/globals.css
  next.config.js
Due: eslint --fix, prettier --write

docs: add architecture diagram to README
  README.md
  public/architecture.png
Due: prettier --write

chore: change the yaml credentials
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/release.yml
Due: prettier --write

fix: frontend preview fixed
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-staging.yml
Due: prettier --write

chore: remove vercel from ci
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-staging.yml
Due: prettier --write

feat(backend): add self-serve org creation and team member management
  backend/src/index.ts
  backend/src/routes/invites.ts
  backend/src/routes/orgs.ts
  backend/src/routes/team.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat(api): add team management methods
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

feat(b2b): add onboarding page and improve auth flow
  app/(b2b)/b2b/join/page.tsx
  app/(b2b)/b2b/login/page.tsx
  app/(b2b)/b2b/onboarding/page.tsx
  app/(b2b)/b2b/register/page.tsx
Due: eslint --fix, prettier --write

feat(b2b): improve layout and sidebar navigation
  app/(b2b)/layout.tsx
  components/b2b/Sidebar.tsx
Due: eslint --fix, prettier --write

feat(b2b): split dashboard for org admin vs specialist
  app/(b2b)/b2b/page.tsx
Due: eslint --fix, prettier --write

fix(b2b): fix Organization, Team, Invites, Children pages
  app/(b2b)/b2b/children/page.tsx
  app/(b2b)/b2b/invites/page.tsx
  app/(b2b)/b2b/organization/page.tsx
  app/(b2b)/b2b/team/page.tsx
  components/b2b/Header.tsx
Due: eslint --fix, prettier --write

chore: update dependabot config
  .github/dependabot.yml
Due: prettier --write

fix: docker file ci fixed
  backend/Dockerfile
Due: none

fix: yeaml file changed
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/release.yml
Due: prettier --write

feat: added new endpoint for parents
  backend/src/routes/content.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

fix: fixed cors errors and remove auth checkoing for endpoints
  backend/src/config/cors.ts
  backend/src/index.ts
  backend/src/routes/content.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat(i18n): locale routing, messages, middleware
  i18n/navigation-config.ts
  i18n/navigation.tsx
  i18n/request.ts
  i18n/routing.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
  middleware.ts
  next.config.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (((((any of: app/**/*.{ts,tsx}) or (any of: components/**/*.{ts,tsx})) or (any of: lib/**/*.{ts,tsx})) or (any of: src/**/*.{ts,tsx})) or (any of: types/**/*.{ts,tsx})) or (any of: *.{js,jsx,mjs})
  prettier --write: ((((((((((any of: app/**/*.{ts,tsx}) or (any of: components/**/*.{ts,tsx})) or (any of: lib/**/*.{ts,tsx})) or (any of: src/**/*.{ts,tsx})) or (any of: types/**/*.{ts,tsx})) or (any of: backend/src/routes/**/*.ts)) or (any of: backend/src/plugins/**/*.ts)) or (any of: backend/src/{config,firebaseAdmin,index,types}.ts)) or (any of: *.{js,jsx,mjs})) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  eslint --fix --config backend/.eslintrc.json: ((any of: backend/src/routes/**/*.ts) or (any of: backend/src/plugins/**/*.ts)) or (any of: backend/src/{config,firebaseAdmin,index,types}.ts)
