Repository Manavault-Dev/nuroo-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

.lintstagedrc.json:

{
  "app/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "components/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "lib/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "types/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "backend/src/routes/**/*.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "backend/src/plugins/**/*.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "backend/src/{config,firebaseAdmin,index,types}.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "*.{js,jsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

fix: yaml file for deployment
  .github/workflows/deploy-production.yml
Due: prettier --write

ci(deploy): harden Cloud Run pipelines with typed gates and safer rollout checks
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Due: prettier --write

refactor(groups): split oversized page into focused feature modules
  app/[locale]/(b2b)/b2b/groups/components.tsx
  app/[locale]/(b2b)/b2b/groups/mappers.ts
  app/[locale]/(b2b)/b2b/groups/page.tsx
  app/[locale]/(b2b)/b2b/groups/types.ts
  app/[locale]/(b2b)/b2b/groups/ui.tsx
  app/[locale]/(b2b)/b2b/groups/utils.ts
Due: eslint --fix, prettier --write

feat(b2b): enrich finance and content assignment workflows with billing metadata
  app/[locale]/(b2b)/b2b/finance/page.tsx
  app/[locale]/(b2b)/b2b/team/page.tsx
  backend/src/routes/finance.ts
  backend/src/routes/groups.ts
  backend/src/routes/orgContent.ts
  backend/src/routes/parentTasks.ts
  components/b2b/ContentManagement.tsx
  lib/b2b/api.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

ci: change the production file
  .github/workflows/deploy-production.yml
Due: prettier --write

fix(roadmaps): fix roadmap assignment endpoint and display in mobile app
  app/[locale]/(b2b)/b2b/groups/page.tsx
  app/[locale]/(b2b)/b2b/groups/types.ts
  backend/src/routes/groups.ts
  backend/src/routes/orgContent.ts
  lib/b2b/api.ts
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

fix(b2b): fix sidebar overlay cutting content on tablet/medium screens
  app/[locale]/(b2b)/layout.tsx
  components/b2b/Header.tsx
  components/b2b/Sidebar.tsx
Due: eslint --fix, prettier --write

feat: prioritize fees tab and add specialist attendance access
  app/[locale]/(b2b)/b2b/finance/page.tsx
  components/b2b/Sidebar.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

feat: add configurable free trial for organizations
  app/[locale]/(b2b)/b2b/billing/page.tsx
  app/[locale]/(b2b)/b2b/onboarding/page.tsx
  backend/src/modules/payments/payments.routes.ts
  backend/src/modules/payments/planLimits.ts
  backend/src/routes/orgs.ts
  lib/b2b/api.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

fix: bugs from audits
  app/[locale]/(b2b)/b2b/finance/page.tsx
  app/[locale]/(b2b)/b2b/reports/page.tsx
  backend/src/routes/finance.ts
  components/Header.tsx
  components/ScrollInit.tsx
  components/b2b/ContentManagement.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
  next.config.js
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

fix: sidebar issues solved
  components/LandingOnlyEffects.tsx
Due: eslint --fix, prettier --write

fix: changed the title of product
  app/[locale]/page.tsx
  app/layout.tsx
  components/Footer.tsx
  components/Header.tsx
  components/Solution.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

feat: improve b2b demo login flow and fix onboarding flash
  app/[locale]/(b2b)/b2b/login/page.tsx
  lib/b2b/AuthContext.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

feat: improve demo login flow and update visible branding to NeuroKids
  app/[locale]/(b2b)/b2b/reports/page.tsx
  app/[locale]/help/page.tsx
  app/[locale]/page.tsx
  app/[locale]/privacy/page.tsx
  app/layout.tsx
  app/manifest.ts
  app/not-found.tsx
  backend/src/modules/payments/payments.service.ts
  components/Hero.tsx
  components/Solution.tsx
  components/b2b/Sidebar.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
  public/manifest.json
  src/shared/layouts/AuthLayout.tsx
  src/shared/layouts/Sidebar.tsx
Due: eslint --fix, prettier --write

fix: added new plan subscription
  app/[locale]/(b2b)/b2b/billing/page.tsx
  app/[locale]/(b2b)/b2b/login/page.tsx
  app/[locale]/(b2b)/layout.tsx
  app/[locale]/layout.tsx
  app/[locale]/page.tsx
  backend/src/modules/payments/payments.service.ts
  components/LandingOnlyEffects.tsx
  components/Pricing.tsx
  components/b2b/Sidebar.tsx
  lib/pricing/planFeatureKeys.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

added function to add parents through invite
  app/[locale]/(b2b)/b2b/groups/page.tsx
  app/[locale]/(b2b)/b2b/page.tsx
  backend/src/routes/children.ts
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

feat: add voice assistant widget for B2B dashboard
  app/[locale]/(b2b)/b2b/components/VoiceAI.tsx
  app/[locale]/(b2b)/b2b/page.tsx
  types/global.d.ts
Due: eslint --fix, prettier --write

fix: harden /me organization membership lookup
  backend/src/routes/me.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

chore: add b2b voice assistant locale keys
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: prettier --write
