Repository Manavault-Dev/nuroo-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

.lintstagedrc.json:

{
  "app/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "components/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "lib/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "types/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "backend/src/routes/**/*.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "backend/src/plugins/**/*.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "backend/src/{config,firebaseAdmin,index,types}.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "*.{js,jsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

style: format booking backend files
  backend/src/domains/booking/__tests__/booking.service.test.ts
  backend/src/domains/booking/__tests__/intake.service.test.ts
  backend/src/domains/booking/availability.routes.ts
  backend/src/domains/booking/booking.routes.ts
  backend/src/domains/booking/booking.service.ts
  backend/src/domains/booking/intake.service.ts
  backend/src/domains/booking/types.ts
Due: none

chore: remove unused booking day map
  backend/src/domains/booking/booking.service.ts
Due: none

fix: scope specialist notes to own entries
  backend/src/domains/messaging/notes.routes.ts
Due: none

feat: scope booking admin tools by specialist
  app/[locale]/(b2b)/b2b/bookings/page.tsx
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

perf: use local font fallback for root layout
  app/layout.tsx
Due: eslint --fix, prettier --write

fix: localize B2B bookings screen
  app/[locale]/(b2b)/b2b/bookings/page.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

feat: strengthen Sentry coverage for B2B
  app/[locale]/(b2b)/error.tsx
  app/[locale]/(b2b)/layout.tsx
  app/global-error.tsx
  instrumentation-client.ts
  lib/b2b/api.ts
  lib/sentryClient.ts
  sentry.client.config.ts
  sentry.edge.config.ts
Due: eslint --fix, prettier --write

chore: add Amplitude browser SDK
  package-lock.json
  package.json
Due: prettier --write

feat: initialize Amplitude on the client
  app/layout.tsx
  components/providers/AmplitudeProvider.tsx
Due: eslint --fix, prettier --write

docs: document Amplitude public env key
  .env.local.example
Due: none

test: stabilize product e2e web server
  e2e/assignments.spec.ts
  e2e/connect-page.spec.ts
  playwright.config.ts
Due: none

feat(booking): add blocking schedule routes and integrate into slots
  app/[locale]/(b2b)/b2b/bookings/page.tsx
  backend/src/domains/booking/blocking.routes.ts
  backend/src/domains/booking/index.ts
  backend/src/domains/booking/slots.routes.ts
  backend/src/domains/booking/types.ts
Due: eslint --fix, prettier --write

feat(backend): introduce cohorts domain with marketplace and enrollment
  backend/src/domains/cohorts/cohorts.marketplace.routes.ts
  backend/src/domains/cohorts/cohorts.routes.ts
  backend/src/domains/cohorts/cohorts.types.ts
  backend/src/domains/cohorts/index.ts
  backend/src/index.ts
  firestore.indexes.json
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

fix(backend): resolve user name lookup and remove email fallbacks
  app/[locale]/(b2b)/b2b/reports/page.tsx
  app/[locale]/(b2b)/b2b/team/page.tsx
  backend/src/domains/finance/reports.routes.ts
  backend/src/domains/invitations/invitations.helpers.ts
  backend/src/domains/invitations/inviteCreation.routes.ts
  backend/src/domains/invitations/invitesAccept.routes.ts
  backend/src/domains/invitations/join.routes.ts
  backend/src/domains/users/me.routes.ts
Due: eslint --fix, prettier --write

feat(web): replace video course editor with live cohort group management
  app/[locale]/(b2b)/b2b/courses/[courseId]/page.tsx
  app/[locale]/(b2b)/b2b/courses/new/page.tsx
  app/[locale]/(b2b)/b2b/courses/page.tsx
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

chore: remove dead course/verification files and update i18n strings
  app/[locale]/(b2b)/b2b/admin/verifications/page.tsx
  app/[locale]/(b2b)/b2b/courses/[courseId]/styles.ts
  app/[locale]/(b2b)/b2b/courses/[courseId]/types.ts
  app/[locale]/(b2b)/b2b/courses/[courseId]/utils.ts
  components/b2b/courses/CourseCard.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

fix: resolve backend lint errors
  backend/src/domains/booking/blocking.routes.ts
  backend/src/domains/booking/slots.routes.ts
  backend/src/domains/booking/types.ts
  backend/src/domains/cohorts/cohorts.marketplace.routes.ts
  backend/src/domains/cohorts/cohorts.routes.ts
  backend/src/domains/cohorts/cohorts.types.ts
  backend/src/domains/invitations/invitesAccept.routes.ts
  backend/src/domains/users/me.routes.ts
Due: none

fix(cohorts): use per-org queries instead of collectionGroup to avoid missing Firestore index
  backend/src/domains/cohorts/cohorts.marketplace.routes.ts
Due: none

fix: format cohort marketplace route
  backend/src/domains/cohorts/cohorts.marketplace.routes.ts
Due: none

feat(b2b): add publish button to open draft cohort enrollment from courses list page
  app/[locale]/(b2b)/b2b/courses/page.tsx
Due: eslint --fix, prettier --write

feat(cohorts): add targetAudience field (children/parents/specialists/all) to cohort model and creation form
  app/[locale]/(b2b)/b2b/courses/new/page.tsx
  backend/src/domains/cohorts/cohorts.marketplace.routes.ts
  backend/src/domains/cohorts/cohorts.routes.ts
  backend/src/domains/cohorts/cohorts.types.ts
Due: eslint --fix, prettier --write

feat: add cohort calendar automation and permissions
  backend/package-lock.json
  backend/package.json
  backend/src/config/env.ts
  backend/src/domains/calendar/calendar.routes.ts
  backend/src/domains/cohorts/cohorts.auth.ts
  backend/src/domains/cohorts/cohorts.marketplace.routes.ts
  backend/src/domains/cohorts/cohorts.routes.ts
  backend/src/domains/cohorts/cohorts.types.ts
  backend/src/index.ts
  backend/src/infrastructure/meetings/google-meet.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat: add cohort cover and calendar management UI
  app/[locale]/(b2b)/b2b/courses/[courseId]/page.tsx
  app/[locale]/(b2b)/b2b/courses/new/page.tsx
  app/[locale]/(b2b)/b2b/courses/page.tsx
  app/[locale]/(b2b)/b2b/settings/calendar/page.tsx
  components/b2b/Sidebar.tsx
  lib/b2b/api.ts
  lib/b2b/usePageAuth.ts
Due: eslint --fix, prettier --write

feat: add booking audit and notification events
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/config/env.ts
  backend/src/domains/booking/__tests__/booking.service.extended.test.ts
  backend/src/domains/booking/booking.reschedule.routes.ts
  backend/src/domains/booking/booking.routes.ts
  backend/src/domains/booking/booking.service.ts
  backend/src/domains/booking/index.ts
  backend/src/domains/booking/types.ts
  backend/src/domains/users/me.routes.ts
  backend/src/infrastructure/audit/__tests__/audit.test.ts
  backend/src/infrastructure/audit/audit.routes.ts
  backend/src/infrastructure/audit/audit.ts
  backend/src/modules/email/email.provider.ts
  backend/src/modules/email/email.templates.test.ts
  backend/src/modules/email/email.templates.ts
  backend/src/modules/email/resend.provider.ts
  backend/src/modules/notifications/event.dispatcher.test.ts
  backend/src/modules/notifications/event.dispatcher.ts
  backend/src/modules/notifications/event.types.ts
  backend/src/modules/notifications/notification.types.ts
Due: prettier --write

feat: add cohort waitlist and favorites routes
  backend/src/domains/cohorts/cohorts.routes.ts
  backend/src/domains/cohorts/cohorts.waitlist.routes.ts
  backend/src/domains/cohorts/index.ts
  backend/src/domains/favorites/__tests__/favorites.routes.test.ts
  backend/src/domains/favorites/favorites.routes.ts
  backend/src/domains/favorites/index.ts
  backend/src/index.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat: localize booking and cohort admin UI
  app/[locale]/(b2b)/b2b/bookings/page.tsx
  app/[locale]/(b2b)/b2b/courses/page.tsx
  app/[locale]/(b2b)/b2b/settings/calendar/page.tsx
  components/layout/Footer.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

chore: optimize public logo asset
  public/logo.png
Due: none

chore: ignore backend generated files in prettier
  backend/.prettierignore
Due: none

fix: allow public marketplace discovery routes
  backend/src/index.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat: add localized marketplace booking pages
  app/[locale]/marketplace/[orgId]/page.tsx
  app/[locale]/marketplace/page.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

feat: rebuild landing around marketplace experience
  app/[locale]/opengraph-image.tsx
  app/[locale]/page.tsx
  app/globals.css
  app/opengraph-image.tsx
  components/landing/B2BSection.tsx
  components/landing/BusinessDashboard.tsx
  components/landing/CategoryStrip.tsx
  components/landing/Hero.tsx
  components/landing/HowItWorks.tsx
  components/landing/ProductShowcase.tsx
  components/landing/SocialBooking.tsx
  public/cat-centers.png
  public/cat-events.png
  public/cat-groups.png
  public/cat-specialists.png
  public/google-calendar.svg
  public/google-meet.svg
  public/hero-center.png
  public/hero-program.png
  public/hero-specialist.jpg
  public/hero-specialist.png
  public/instagram.svg
  public/prog-english.png
  public/prog-masterclass.png
  public/prog-robotics.png
  public/prog-school.png
  public/specialist-profile.png
  public/telegram.svg
  public/whatsapp.svg
Due: eslint --fix, prettier --write

feat: simplify pricing plans and tracking
  components/landing/Pricing.tsx
  lib/analytics/index.ts
  lib/pricing/pricingConfig.ts
  tests/pricingConfig.test.ts
Due: eslint --fix, prettier --write

fix: polish public header and theme behavior
  app/layout.tsx
  components/layout/ConditionalHeader.tsx
  components/layout/Header.tsx
  components/layout/LocaleSwitcher.tsx
Due: eslint --fix, prettier --write

ci: avoid canceling push workflow runs
  .github/workflows/ci.yml
Due: prettier --write

chore: update backend security dependencies
  backend/package-lock.json
  backend/package.json
Due: prettier --write

fix: render localized shell in light mode
  app/[locale]/layout.tsx
  app/layout.tsx
  messages/ru.json
  public/manifest.json
Due: eslint --fix, prettier --write

feat: centralize public site SEO urls
  app/[locale]/connect/page.tsx
  app/[locale]/opengraph-image.tsx
  app/[locale]/page.tsx
  app/opengraph-image.tsx
  app/robots.ts
  app/sitemap.ts
  lib/seo/site.ts
Due: eslint --fix, prettier --write

feat: add metadata for public support pages
  app/[locale]/connect/layout.tsx
  app/[locale]/help/page.tsx
  app/[locale]/privacy/page.tsx
Due: eslint --fix, prettier --write

feat: add marketplace SEO metadata
  app/[locale]/marketplace/MarketplaceClient.tsx
  app/[locale]/marketplace/[orgId]/layout.tsx
  app/[locale]/marketplace/page.tsx
Due: eslint --fix, prettier --write
