Repository Manavault-Dev/nuroo-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

.lintstagedrc.json:

{
  "app/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "components/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "lib/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "types/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "backend/src/routes/**/*.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "backend/src/plugins/**/*.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "backend/src/{config,firebaseAdmin,index,types}.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "*.{js,jsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

chore: add b2b voice assistant locale keys
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: prettier --write

fix: added agents in gitignore
  .gitignore
Due: none

refactor: refactor code of voice assistent
  app/[locale]/(b2b)/b2b/components/VoiceAI.tsx
  app/[locale]/(b2b)/b2b/components/assistant/executor.ts
  app/[locale]/(b2b)/b2b/components/assistant/index.tsx
  app/[locale]/(b2b)/b2b/components/assistant/nlp.ts
  app/[locale]/(b2b)/b2b/components/assistant/translations.ts
  app/[locale]/(b2b)/b2b/components/assistant/types.ts
  app/[locale]/(b2b)/b2b/components/assistant/ui.tsx
  app/[locale]/(b2b)/b2b/page.tsx
Due: eslint --fix, prettier --write

feat: add backend AI assistant endpoints and OpenAI service
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/modules/ai-assistant/index.ts
  backend/src/modules/ai-assistant/intentRoutes.ts
  backend/src/modules/ai-assistant/prompt.ts
  backend/src/modules/ai-assistant/routes.ts
  backend/src/modules/ai-assistant/service.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

refactor: modularize b2b assistant client flow
  app/[locale]/(b2b)/b2b/components/assistant/actions/addChildToGroup.ts
  app/[locale]/(b2b)/b2b/components/assistant/actions/assignHomework.ts
  app/[locale]/(b2b)/b2b/components/assistant/actions/createGroup.ts
  app/[locale]/(b2b)/b2b/components/assistant/actions/createSession.ts
  app/[locale]/(b2b)/b2b/components/assistant/actions/sendReminder.ts
  app/[locale]/(b2b)/b2b/components/assistant/executor.ts
  app/[locale]/(b2b)/b2b/components/assistant/hooks/useVoiceReady.ts
  app/[locale]/(b2b)/b2b/components/assistant/index.tsx
  app/[locale]/(b2b)/b2b/components/assistant/intent/intentTypes.ts
  app/[locale]/(b2b)/b2b/components/assistant/intent/parseIntent.ts
  app/[locale]/(b2b)/b2b/components/assistant/intent/validators.ts
  app/[locale]/(b2b)/b2b/components/assistant/nlp.ts
  app/[locale]/(b2b)/b2b/components/assistant/translations.ts
  app/[locale]/(b2b)/b2b/components/assistant/types.ts
  app/[locale]/(b2b)/b2b/components/assistant/ui.tsx
  app/[locale]/(b2b)/b2b/components/assistant/ui/ActionFeedback.tsx
  app/[locale]/(b2b)/b2b/components/assistant/ui/ConfirmationCard.tsx
  app/[locale]/(b2b)/b2b/components/assistant/ui/MessageBubble.tsx
  app/[locale]/(b2b)/b2b/components/assistant/useAssistant.ts
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

chore: add children route diagnostics logging
  backend/src/routes/children.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

fix: resolve backend ai-assistant lint errors
  backend/src/modules/ai-assistant/index.ts
  backend/src/modules/ai-assistant/intentRoutes.ts
  backend/src/modules/ai-assistant/prompt.ts
  backend/src/modules/ai-assistant/routes.ts
  backend/src/modules/ai-assistant/service.ts
Due: none

chore: add b2b locale keys
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: prettier --write

feat: add organization branding controls
  app/[locale]/(b2b)/b2b/brand/page.tsx
  app/[locale]/(b2b)/layout.tsx
  app/globals.css
  backend/src/index.ts
  backend/src/routes/branding.ts
  lib/b2b/api.ts
  lib/b2b/brandingContext.tsx
  lib/b2b/types.ts
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

refactor: simplify b2b dashboard experience
  app/[locale]/(b2b)/b2b/children/page.tsx
  app/[locale]/(b2b)/b2b/page.tsx
  components/b2b/Header.tsx
  components/b2b/Sidebar.tsx
  public/Logo.svg
Due: eslint --fix, prettier --write

feat: add branded b2b sharing surfaces
  app/[locale]/(b2b)/b2b/invites/page.tsx
  app/[locale]/(b2b)/b2b/reports/page.tsx
  app/[locale]/connect/page.tsx
Due: eslint --fix, prettier --write

refactor: switch shared branding assets to svg
  app/[locale]/help/page.tsx
  app/[locale]/privacy/page.tsx
  components/Footer.tsx
  components/Header.tsx
  src/shared/layouts/AuthLayout.tsx
  src/shared/layouts/Sidebar.tsx
Due: eslint --fix, prettier --write

fix: allow nullable dashboard branding fields
  app/[locale]/(b2b)/b2b/page.tsx
Due: eslint --fix, prettier --write

fix: improve the demo buttons
  app/[locale]/(b2b)/b2b/login/page.tsx
  backend/src/modules/ai-assistant/intentRoutes.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

chore: add landing and branding locale copy
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: prettier --write

refactor: modernize landing platform offer
  components/Platform.tsx
  components/Pricing.tsx
Due: eslint --fix, prettier --write

feat: add adjustable organization branding media
  app/[locale]/(b2b)/b2b/brand/page.tsx
  app/[locale]/(b2b)/b2b/invites/page.tsx
  app/[locale]/(b2b)/b2b/page.tsx
  app/[locale]/(b2b)/layout.tsx
  app/[locale]/connect/page.tsx
  backend/src/routes/branding.ts
  components/b2b/Sidebar.tsx
  lib/b2b/api.ts
  lib/b2b/types.ts
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

fix: adjust b2b access for invites and attendance
  backend/src/routes/finance.ts
  backend/src/routes/invites.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

chore(deps): add class-variance-authority and framer-motion
  package-lock.json
  package.json
Due: prettier --write

feat(i18n): extend landing copy for en, ky, and ru
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: prettier --write

feat(landing): add IndependentPath section to home page
  app/[locale]/page.tsx
  components/IndependentPath.tsx
Due: eslint --fix, prettier --write
