Repository Manavault-Dev/nuroo-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

.lintstagedrc.json:

{
  "app/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "components/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "lib/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "types/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "backend/src/routes/**/*.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "backend/src/plugins/**/*.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "backend/src/{config,firebaseAdmin,index,types}.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "*.{js,jsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

fix: api delete request specialist
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

feat: improve child intake and activity localization
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  backend/src/domains/activity/activity.routes.ts
  backend/src/domains/children/children.routes.ts
  backend/src/domains/children/childrenIntake.routes.ts
  components/b2b/ActivityFeed.tsx
  firestore.indexes.json
  lib/b2b/api.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

feat: improve child intake and activity localization
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  backend/src/domains/activity/activity.routes.ts
  backend/src/domains/children/children.routes.ts
  backend/src/domains/children/childrenIntake.routes.ts
  backend/src/domains/messaging/messages.routes.ts
  backend/src/domains/messaging/notes.routes.ts
  backend/src/domains/tasks/parentTasks.routes.ts
  components/b2b/ActivityFeed.tsx
  firestore.indexes.json
  lib/b2b/api.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

feat: polish parent replies and AI content workflows
  backend/src/domains/activity/activity.routes.ts
  backend/src/domains/activity/activity.service.ts
  backend/src/domains/ai/specialistAi.routes.ts
  backend/src/domains/messaging/messages.routes.ts
  backend/src/domains/tasks/parentTasks.routes.ts
  components/b2b/AIInstructionHelper.tsx
  components/b2b/ActivityFeed.tsx
  components/b2b/ContentManagement.tsx
  lib/b2b/api.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

feat: track billing analytics events
  .env.local.example
  app/[locale]/(b2b)/b2b/billing/page.tsx
  lib/analytics/index.ts
  lib/firebase/config.ts
Due: eslint --fix, prettier --write

chore: add privacy-safe observability
  backend/.env.example
  backend/src/domains/ai/specialistAi.routes.ts
  backend/src/infrastructure/middleware/errorHandler.ts
  backend/src/instrument.ts
  backend/src/modules/ai-assistant/routes.ts
  backend/src/shared/observability/logger.ts
  instrumentation-client.ts
  lib/b2b/AuthContext.tsx
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write

fix: sync group assignments and cards
  app/[locale]/(b2b)/b2b/groups/components.tsx
  app/[locale]/(b2b)/b2b/groups/page.tsx
  backend/src/domains/groups/groupAssignments.routes.ts
  backend/src/domains/groups/groupCrud.routes.ts
  backend/src/domains/groups/groups.service.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

feat: add Google auth below email forms
  .env.local.example
  app/[locale]/(b2b)/b2b/login/page.tsx
  app/[locale]/(b2b)/b2b/register/page.tsx
  lib/b2b/authClient.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

fix: refine child overview and intake access
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  backend/src/domains/children/childrenIntake.routes.ts
  backend/src/domains/tasks/parentTasks.routes.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
  next.config.js
Due: eslint --fix, prettier --write

feat: add billing and payment backend
  backend/package-lock.json
  backend/package.json
  backend/src/config/env.ts
  backend/src/domains/billing/__tests__/subscription.test.ts
  backend/src/domains/billing/index.ts
  backend/src/domains/billing/manualBilling.routes.ts
  backend/src/domains/billing/stripe.service.ts
  backend/src/domains/billing/stripeWebhook.routes.ts
  backend/src/domains/billing/subscription.middleware.ts
  backend/src/domains/billing/subscription.routes.ts
  backend/src/domains/children/childrenRecords.routes.ts
  backend/src/domains/finance/orgFinance.routes.ts
  backend/src/domains/payments/__tests__/billingProfile.test.ts
  backend/src/domains/payments/__tests__/invoice.test.ts
  backend/src/domains/payments/__tests__/invoiceGeneration.test.ts
  backend/src/domains/payments/__tests__/provider.test.ts
  backend/src/domains/payments/__tests__/webhook.test.ts
  backend/src/domains/payments/__tests__/webhookRoute.integration.test.ts
  backend/src/domains/payments/billingProfile.routes.ts
  backend/src/domains/payments/billingProfile.service.ts
  backend/src/domains/payments/index.ts
  backend/src/domains/payments/invoice.routes.ts
  backend/src/domains/payments/invoice.service.ts
  backend/src/domains/payments/invoiceGeneration.service.ts
  backend/src/domains/payments/providerConfig.routes.ts
  backend/src/domains/payments/providers/FinikPaymentProvider.ts
  backend/src/domains/payments/providers/PaymentProvider.interface.ts
  backend/src/domains/payments/providers/registry.ts
  backend/src/domains/payments/webhook.routes.ts
  backend/src/index.ts
  backend/src/modules/parent-api/parent.routes.ts
  backend/src/modules/payments/payments.routes.ts
  backend/src/modules/payments/planLimits.ts
  backend/src/shared/guards/index.ts
  backend/src/shared/guards/platformAdmin.guard.ts
  backend/vitest.config.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat: improve billing and invoice UI
  app/[locale]/(b2b)/b2b/billing/page.tsx
  app/[locale]/(b2b)/b2b/finance/page.tsx
  app/[locale]/(b2b)/b2b/invoices/[invoiceId]/page.tsx
  components/b2b/Sidebar.tsx
  components/ui/PricingCard.tsx
  lib/b2b/api.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

chore: clean up Next dev config
  next.config.js
Due: eslint --fix, prettier --write

fix: format backend billing code
  backend/src/domains/billing/manualBilling.routes.ts
  backend/src/domains/billing/stripeWebhook.routes.ts
  backend/src/domains/billing/subscription.middleware.ts
  backend/src/domains/billing/subscription.routes.ts
  backend/src/domains/payments/__tests__/billingProfile.test.ts
  backend/src/domains/payments/__tests__/invoiceGeneration.test.ts
  backend/src/domains/payments/__tests__/provider.test.ts
  backend/src/domains/payments/__tests__/webhook.test.ts
  backend/src/domains/payments/__tests__/webhookRoute.integration.test.ts
  backend/src/domains/payments/invoice.routes.ts
  backend/src/domains/payments/providers/FinikPaymentProvider.ts
  backend/src/domains/payments/webhook.routes.ts
  backend/src/modules/parent-api/parent.routes.ts
  backend/src/modules/payments/planLimits.ts
  backend/src/shared/guards/platformAdmin.guard.ts
Due: none

fix: clean up billing lint warnings
  backend/src/domains/billing/__tests__/subscription.test.ts
  backend/src/domains/payments/__tests__/invoice.test.ts
  backend/src/domains/payments/__tests__/webhook.test.ts
  backend/src/domains/payments/providers/FinikPaymentProvider.ts
  backend/src/domains/payments/webhook.routes.ts
Due: none

fix: ci linter fixed
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  app/[locale]/(b2b)/b2b/components/assistant/index.tsx
  app/[locale]/(b2b)/b2b/groups/page.tsx
  app/[locale]/(b2b)/b2b/invoices/[invoiceId]/page.tsx
  lib/b2b/authClient.ts
Due: eslint --fix, prettier --write

fix: formating codebase
  next.config.js
Due: eslint --fix, prettier --write

fix: typescript error ci
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
Due: eslint --fix, prettier --write

fix: prevent invalid group assignments
  app/[locale]/(b2b)/b2b/groups/page.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

fix: resolve group owner on assignment
  backend/src/domains/groups/groupAssignments.routes.ts
Due: none

feat(backend): add child avatar upload route to index
  app/[locale]/(b2b)/b2b/forgot-password/page.tsx
  backend/src/domains/auth/index.ts
  backend/src/domains/auth/password-reset.routes.ts
  backend/src/domains/upload/avatar.routes.ts
  backend/src/index.ts
  backend/src/services/emailService.ts
  lib/b2b/passwordResetApi.ts
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

fix(backend): resolve typescript errors and update environment config
  backend/package-lock.json
  backend/package.json
  backend/src/config/env.ts
  backend/src/domains/auth/password-reset.routes.ts
  backend/src/domains/upload/avatar.routes.ts
  backend/src/services/emailService.ts
Due: prettier --write

fix(backend): update sync'd package-lock to fix CI build
  backend/package-lock.json
Due: prettier --write

fix: prompt issue secure divide child data and instruction
  .gitignore
  backend/src/domains/ai/parentAi.routes.test.ts
  backend/src/domains/ai/parentAi.routes.ts
Due: none

fix: group name injection solved
  backend/src/modules/ai-assistant/intentRoutes.test.ts
  backend/src/modules/ai-assistant/intentRoutes.ts
Due: none

fix: changed ci workflow from tag to commit
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-production.yml
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
Due: prettier --write

feat: rename UI titles to NeuroKids and add quick demo login for jury
  app/[locale]/(b2b)/b2b/login/page.tsx
  components/b2b/Sidebar.tsx
  components/layout/Footer.tsx
  components/layout/Header.tsx
  src/shared/layouts/Sidebar.tsx
Due: eslint --fix, prettier --write

Revert "Merge pull request #73 from Manavault-Dev/feature/demo-and-rename"
  app/[locale]/(b2b)/b2b/login/page.tsx
  components/b2b/Sidebar.tsx
  components/layout/Footer.tsx
  components/layout/Header.tsx
  src/shared/layouts/Sidebar.tsx
Due: eslint --fix, prettier --write

fix: add gstack in gitignore
  .gitignore
Due: none

fix: guard glow card mouse target
  components/effects/ScrollInit.tsx
Due: eslint --fix, prettier --write

feat: add client-side pagination
  components/b2b/ContentManagement.tsx
Due: eslint --fix, prettier --write

fix: improve push notifications and message alerts
  .github/workflows/claude-agent.yml
  .github/workflows/claude-pr-review.yml
  backend/src/domains/activity/activity.routes.ts
  backend/src/domains/messaging/messages.routes.ts
  backend/src/modules/notifications/notification.routes.ts
  backend/src/modules/notifications/notification.service.ts
  backend/src/modules/notifications/notification.types.ts
Due: prettier --write

fix: ci claude agent and preview fixed
  .github/workflows/claude-agent.yml
  .github/workflows/claude-pr-review.yml
Due: prettier --write

Feature: White Label Branding System v1
  app/[locale]/(b2b)/b2b/brand/page.tsx
  lib/b2b/brandingContext.tsx
  lib/b2b/themePresets.ts
  lib/b2b/types.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
  package-lock.json
  package.json
  tests/branding.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat: full visual identity theme system — sidebar, topbar, cards, badges, inputs
  app/[locale]/(b2b)/b2b/brand/page.tsx
  app/[locale]/(b2b)/layout.tsx
  app/globals.css
  components/b2b/Header.tsx
  components/b2b/Sidebar.tsx
  lib/b2b/themePresets.ts
  tests/branding.test.ts
Due: eslint --fix, prettier --write

feat: auto theme generation from org logo
  app/[locale]/(b2b)/b2b/brand/page.tsx
  lib/b2b/brandingContext.tsx
  lib/b2b/colorExtraction.ts
  lib/b2b/colorUtils.ts
  lib/b2b/themeGenerator.ts
  lib/b2b/themePresets.ts
  lib/b2b/types.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
  tests/themeGenerator.test.ts
Due: eslint --fix, prettier --write

fix: persist presetId and generatedThemeTokens to Firestore
  backend/src/domains/organizations/branding.routes.ts
  lib/b2b/brandingContext.tsx
Due: eslint --fix, prettier --write

fix: robust Firestore timestamp parsing in billing (handles Timestamp, Date, string, epoch)
  app/[locale]/(b2b)/b2b/billing/page.tsx
  backend/src/domains/billing/subscription.routes.ts
  backend/src/modules/payments/planLimits.ts
  components/ui/BillingBadge.tsx
Due: eslint --fix, prettier --write

fix: WCAG AA button shades for all presets, add cssVariablesToTokens and resolveBrandingAccent
  lib/b2b/themePresets.ts
Due: eslint --fix, prettier --write

refactor: deduplicate hueDistance and enforce WCAG AA button bg in theme generator
  lib/b2b/themeGenerator.ts
Due: eslint --fix, prettier --write
