Repository Manavault-Dev/nuroo-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

feat(ui): add BillingBadge component for subscription status labels
  components/ui/BillingBadge.tsx
Due: eslint --fix, prettier --write

feat(b2b): extend billing status API client types with usage and feature flags
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

feat(b2b): redesign billing page with usage meters, badges, and static plan cards
  app/[locale]/(b2b)/b2b/billing/page.tsx
Due: eslint --fix, prettier --write

refactor(pricing): align landing plan feature keys with updated subscription tiers
  lib/pricing/planFeatureKeys.ts
Due: eslint --fix, prettier --write

feat(landing): refresh pricing section layout and plan comparison for new tiers
  components/Pricing.tsx
Due: eslint --fix, prettier --write

docs(backend): clarify public vs admin-only branding and branches route access
  backend/src/routes/branches.ts
  backend/src/routes/branding.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

chore(seo): rebrand site metadata and manifests from NeuroKids to Nuroo
  app/layout.tsx
  app/manifest.ts
  app/not-found.tsx
  public/manifest.json
Due: eslint --fix, prettier --write

chore(ui): update header, footer, hero, and layout copy to Nuroo branding
  components/Footer.tsx
  components/Header.tsx
  components/Hero.tsx
  src/shared/layouts/AuthLayout.tsx
  src/shared/layouts/Sidebar.tsx
Due: eslint --fix, prettier --write

chore(pages): rebrand help and privacy static pages to Nuroo
  app/[locale]/help/page.tsx
  app/[locale]/privacy/page.tsx
Due: eslint --fix, prettier --write

i18n: rebrand NeuroKids strings to Nuroo and update pricing copy across locales
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: prettier --write

feat(landing): expand homepage SEO content, structured data, and section layout
  app/[locale]/page.tsx
Due: eslint --fix, prettier --write

Update B2B content management UI, invite flow, and alert dialog
  app/[locale]/(b2b)/b2b/branches/page.tsx
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  app/[locale]/(b2b)/b2b/groups/page.tsx
  app/[locale]/(b2b)/b2b/invites/page.tsx
  app/[locale]/(b2b)/b2b/page.tsx
  app/[locale]/(b2b)/b2b/team/page.tsx
  app/[locale]/(b2b)/layout.tsx
  components/b2b/ContentManagement.tsx
  components/b2b/InviteModal.tsx
  components/ui/AlertDialog.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

Add children route enhancements for B2B backend
  backend/src/routes/children.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

Fix child card arrow click and list row styles
  app/[locale]/(b2b)/b2b/children/page.tsx
Due: eslint --fix, prettier --write

fix: added children delete function
  app/[locale]/(b2b)/b2b/children/page.tsx
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

fix: solving pull request issues
  backend/src/modules/payments/payments.routes.ts
  backend/src/modules/payments/planLimits.ts
  backend/src/routes/children.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

refactor(backend/notifications): extract centralized dispatch module
  backend/src/modules/notifications/index.ts
  backend/src/modules/notifications/notification.routes.ts
  backend/src/modules/notifications/notification.service.ts
  backend/src/modules/notifications/notification.types.ts
  backend/src/routes/pushTokens.ts
  backend/src/services/pushNotificationService.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat(backend/messaging): add conversations API and register messages route
  backend/src/index.ts
  backend/src/routes/messages.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat(backend/notes): mirror specialist notes into conversation threads
  backend/src/routes/notes.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat(backend/routes): migrate all push calls to dispatch() with dedup and categories
  backend/src/routes/assignments.ts
  backend/src/routes/children.ts
  backend/src/routes/invitesAccept.ts
  backend/src/routes/parentTasks.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat(b2b): add NotificationBell component and notifications page
  app/[locale]/(b2b)/b2b/notifications/page.tsx
  app/[locale]/(b2b)/b2b/notifications/preferences/page.tsx
  components/b2b/Header.tsx
  components/b2b/NotificationBell.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (((((any of: app/**/*.{ts,tsx}) or (any of: components/**/*.{ts,tsx})) or (any of: lib/**/*.{ts,tsx})) or (any of: src/**/*.{ts,tsx})) or (any of: types/**/*.{ts,tsx})) or (any of: *.{js,jsx,mjs})
  prettier --write: ((((((((((any of: app/**/*.{ts,tsx}) or (any of: components/**/*.{ts,tsx})) or (any of: lib/**/*.{ts,tsx})) or (any of: src/**/*.{ts,tsx})) or (any of: types/**/*.{ts,tsx})) or (any of: backend/src/routes/**/*.ts)) or (any of: backend/src/plugins/**/*.ts)) or (any of: backend/src/{config,firebaseAdmin,index,types}.ts)) or (any of: *.{js,jsx,mjs})) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  eslint --fix --config backend/.eslintrc.json: ((any of: backend/src/routes/**/*.ts) or (any of: backend/src/plugins/**/*.ts)) or (any of: backend/src/{config,firebaseAdmin,index,types}.ts)
