Repository Manavault-Dev/nuroo-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

feat(i18n): locale routing, messages, middleware
  i18n/navigation-config.ts
  i18n/navigation.tsx
  i18n/request.ts
  i18n/routing.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
  middleware.ts
  next.config.js
Due: eslint --fix, prettier --write

refactor(app): [locale] layout and landing page
  app/[locale]/layout.tsx
  app/[locale]/page.tsx
  app/layout.tsx
Due: eslint --fix, prettier --write

refactor(app): [locale] privacy and help pages
  app/[locale]/help/page.tsx
  app/[locale]/privacy/page.tsx
  app/help/page.tsx
  app/privacy/page.tsx
Due: eslint --fix, prettier --write

refactor(app): [locale] B2B routes and layout
  app/(b2b)/layout.tsx
  app/[locale]/(b2b)/b2b/admin/page.tsx
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  app/[locale]/(b2b)/b2b/children/page.tsx
  app/[locale]/(b2b)/b2b/content/page.tsx
  app/[locale]/(b2b)/b2b/groups/page.tsx
  app/[locale]/(b2b)/b2b/invites/page.tsx
  app/[locale]/(b2b)/b2b/join/page.tsx
  app/[locale]/(b2b)/b2b/login/page.tsx
  app/[locale]/(b2b)/b2b/onboarding/page.tsx
  app/[locale]/(b2b)/b2b/organization/page.tsx
  app/[locale]/(b2b)/b2b/page.tsx
  app/[locale]/(b2b)/b2b/register/page.tsx
  app/[locale]/(b2b)/b2b/settings/page.tsx
  app/[locale]/(b2b)/b2b/team/page.tsx
  app/[locale]/(b2b)/layout.tsx
Due: eslint --fix, prettier --write

style: landing responsive, mobile, break-words (RU/KY)
  app/globals.css
  components/ConditionalHeader.tsx
  components/Features.tsx
  components/Footer.tsx
  components/Header.tsx
  components/Hero.tsx
  components/Platform.tsx
  components/Problem.tsx
  components/Solution.tsx
  components/Testimonials.tsx
Due: eslint --fix, prettier --write

style: B2B mobile sidebar, header, responsive padding
  components/b2b/Header.tsx
  components/b2b/InviteModal.tsx
  components/b2b/Sidebar.tsx
Due: eslint --fix, prettier --write

fix: LocaleSwitcher popup (portal, click toggle)
  components/LocaleSwitcher.tsx
Due: eslint --fix, prettier --write

chore: tsconfig ignoreDeprecations, deps
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

fix: clear code and fix tsconfig
  app/[locale]/(b2b)/b2b/admin/page.tsx
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  app/[locale]/(b2b)/b2b/groups/page.tsx
  app/[locale]/(b2b)/b2b/invites/page.tsx
  app/[locale]/(b2b)/b2b/join/page.tsx
  app/[locale]/(b2b)/b2b/login/page.tsx
  app/[locale]/(b2b)/b2b/page.tsx
  app/[locale]/(b2b)/b2b/register/page.tsx
  app/[locale]/(b2b)/layout.tsx
  app/[locale]/help/page.tsx
  app/[locale]/privacy/page.tsx
  app/globals.css
  components/ConditionalHeader.tsx
  components/Footer.tsx
  components/LocaleSwitcher.tsx
  components/b2b/Sidebar.tsx
  i18n/navigation-config.ts
  i18n/navigation.tsx
  next.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

fix: formating code style
  i18n/navigation.tsx
  i18n/request.ts
Due: none

feat: created a new api for generation code for alphakids
  app/[locale]/(b2b)/b2b/content/page.tsx
  backend/src/index.ts
  backend/src/routes/content.ts
  backend/src/shared/utils/inviteCode.ts
  lib/b2b/api.ts
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

feat: Finik billing integration, payments module, pricing, docs
  DEBUG_BILLING.md
  FINIK_ENV_EXPLAINED.md
  FINIK_INTEGRATION_SUMMARY.md
  FINIK_SETUP.md
  ORGANIZER_PAYMENT_FLOW.md
  app/[locale]/(b2b)/b2b/billing/cancel/page.tsx
  app/[locale]/(b2b)/b2b/billing/page.tsx
  app/[locale]/(b2b)/b2b/billing/success/page.tsx
  app/[locale]/(b2b)/b2b/onboarding/page.tsx
  app/[locale]/page.tsx
  backend/FINIK_SIGNATURE_ISSUE.md
  backend/src/app.ts
  backend/src/config/env.ts
  backend/src/config/index.ts
  backend/src/index.ts
  backend/src/infrastructure/auth/authPlugin.ts
  backend/src/modules/payments/index.ts
  backend/src/modules/payments/payments.repository.ts
  backend/src/modules/payments/payments.routes.ts
  backend/src/modules/payments/payments.schema.ts
  backend/src/modules/payments/payments.service.ts
  components/Footer.tsx
  components/Header.tsx
  components/Pricing.tsx
  components/b2b/Sidebar.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
  next.config.js
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

refactor(payments): clean Finik signature and service architecture
  backend/src/modules/payments/payments.repository.ts
  backend/src/modules/payments/payments.routes.ts
  backend/src/modules/payments/payments.schema.ts
  backend/src/modules/payments/payments.service.ts
  backend/src/modules/payments/planLimits.ts
Due: none

feat(backend): add public content routes and improve auth flow
  backend/src/index.ts
  backend/src/routes/invites.ts
  backend/src/routes/invitesAccept.ts
  backend/src/routes/join.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

fix(backend): update import paths and module configuration
  backend/README.md
  backend/src/app.ts
  backend/src/config/env.ts
  backend/src/firebaseAdmin.ts
  backend/src/plugins/rbac.ts
  backend/src/plugins/superAdmin.ts
  backend/src/routes/admin.ts
  backend/src/routes/bootstrap.ts
  backend/src/routes/dev.ts
  backend/src/routes/me.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat(frontend): update billing page and API client
  app/[locale]/(b2b)/b2b/billing/page.tsx
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

fix: delete documentations
  DEBUG_BILLING.md
  FINIK_ENV_EXPLAINED.md
  FINIK_INTEGRATION_SUMMARY.md
  FINIK_SETUP.md
  backend/FINIK_SIGNATURE_ISSUE.md
Due: prettier --write

fix: delete flow documentation
  ORGANIZER_PAYMENT_FLOW.md
Due: prettier --write

fix: change the accepted payment method and page
  app/[locale]/(b2b)/b2b/billing/success/page.tsx
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

fix: fixed ci errors from back and frontend
  backend/src/modules/payments/payments.routes.ts
  backend/src/modules/payments/payments.service.ts
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

fix(backend): P0/P1 content access and reports bugs
  backend/src/index.ts
  backend/src/modules/parent-api/parent.routes.ts
  backend/src/routes/content.ts
  backend/src/routes/reports.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

Path conditions:
  eslint --fix: (((((any of: app/**/*.{ts,tsx}) or (any of: components/**/*.{ts,tsx})) or (any of: lib/**/*.{ts,tsx})) or (any of: src/**/*.{ts,tsx})) or (any of: types/**/*.{ts,tsx})) or (any of: *.{js,jsx,mjs})
  prettier --write: ((((((((((any of: app/**/*.{ts,tsx}) or (any of: components/**/*.{ts,tsx})) or (any of: lib/**/*.{ts,tsx})) or (any of: src/**/*.{ts,tsx})) or (any of: types/**/*.{ts,tsx})) or (any of: backend/src/routes/**/*.ts)) or (any of: backend/src/plugins/**/*.ts)) or (any of: backend/src/{config,firebaseAdmin,index,types}.ts)) or (any of: *.{js,jsx,mjs})) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  eslint --fix --config backend/.eslintrc.json: ((any of: backend/src/routes/**/*.ts) or (any of: backend/src/plugins/**/*.ts)) or (any of: backend/src/{config,firebaseAdmin,index,types}.ts)
