Repository Manavault-Dev/nuroo-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

.lintstagedrc.json:

{
  "app/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "components/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "lib/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "types/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "backend/src/routes/**/*.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "backend/src/plugins/**/*.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "backend/src/{config,firebaseAdmin,index,types}.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "*.{js,jsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

refactor: replace deprecated primaryColor with resolveBrandingAccent across b2b pages
  app/[locale]/(b2b)/b2b/invites/page.tsx
  app/[locale]/(b2b)/b2b/page.tsx
  app/[locale]/(b2b)/b2b/reports/page.tsx
  app/[locale]/connect/page.tsx
Due: eslint --fix, prettier --write

test: extend branding and theme generator coverage — WCAG AA, CSS var round-trip, accent resolution
  tests/branding.test.ts
  tests/themeGenerator.test.ts
Due: none

feat: brand settings page — file upload, auto theme generation, preset selector, live preview
  app/[locale]/(b2b)/b2b/brand/page.tsx
Due: eslint --fix, prettier --write

fix: prettier formatting in branding.routes.ts (inline Zod record chain)
  backend/src/domains/organizations/branding.routes.ts
Due: none

feat: centralized subscription state utility with BDD-driven pure logic
  lib/b2b/subscriptionState.ts
  tests/subscriptionState.test.ts
Due: eslint --fix, prettier --write

feat: SubscriptionBanner and SubscriptionPaywall UI components
  components/ui/SubscriptionBanner.tsx
  components/ui/SubscriptionPaywall.tsx
Due: eslint --fix, prettier --write

feat: add suspended status to BillingBadge
  components/ui/BillingBadge.tsx
Due: eslint --fix, prettier --write

feat: subscription paywall and banner guard in B2B layout
  app/[locale]/(b2b)/layout.tsx
Due: eslint --fix, prettier --write

feat: change plan pricing to USD — starter $59, growth $99, enterprise $199
  app/[locale]/(b2b)/b2b/billing/page.tsx
  backend/src/modules/payments/planLimits.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

feat: add yearly pricing config — single source of truth
  app/[locale]/(b2b)/b2b/billing/page.tsx
  components/landing/Pricing.tsx
  lib/pricing/pricingConfig.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
  tests/pricingConfig.test.ts
Due: eslint --fix, prettier --write

chore: update billing, plan gate, and subscription translations
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: prettier --write

feat: add yearly savings and standardize Growth plan naming
  app/[locale]/(b2b)/b2b/billing/page.tsx
  backend/src/modules/payments/payments.service.ts
  backend/src/modules/payments/planLimits.ts
  components/landing/Pricing.tsx
  components/ui/PricingCard.tsx
  lib/pricing/planFeatureKeys.ts
  lib/pricing/pricingConfig.ts
  tests/pricingConfig.test.ts
Due: eslint --fix, prettier --write

feat: gate premium B2B modules by active plan
  app/[locale]/(b2b)/b2b/branches/page.tsx
  app/[locale]/(b2b)/b2b/brand/page.tsx
  app/[locale]/(b2b)/b2b/finance/page.tsx
  app/[locale]/(b2b)/layout.tsx
  components/b2b/PlanGate.tsx
  components/b2b/Sidebar.tsx
  lib/b2b/planContext.tsx
  lib/pricing/planFeatureConfig.ts
  tests/planFeatureConfig.test.ts
Due: eslint --fix, prettier --write

fix: localize subscription paywall and support contact
  components/ui/SubscriptionBanner.tsx
  components/ui/SubscriptionPaywall.tsx
  lib/b2b/subscriptionState.ts
Due: eslint --fix, prettier --write

feat: initialize manual billing fields for new organizations
  backend/src/domains/organizations/orgs.routes.ts
Due: none

feat: rename UI titles to NeuroKids and add quick demo login for jury
  app/[locale]/(b2b)/b2b/login/page.tsx
  components/b2b/Sidebar.tsx
  components/layout/Footer.tsx
  components/layout/Header.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
  src/shared/layouts/Sidebar.tsx
Due: eslint --fix, prettier --write

ci: add explicit CodeQL workflow permissions
  .github/workflows/codeql.yml
Due: prettier --write

Revert "feat: rename UI titles to NeuroKids and add quick demo login for jury"
  app/[locale]/(b2b)/b2b/login/page.tsx
  components/b2b/Sidebar.tsx
  components/layout/Footer.tsx
  components/layout/Header.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
  src/shared/layouts/Sidebar.tsx
Due: eslint --fix, prettier --write

refactor: implement responsive pagination with ellipsis
  components/b2b/ContentManagement.tsx
  components/b2b/Pagination.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

fix: handle optional Firebase analytics load failures
  lib/firebase/config.ts
Due: eslint --fix, prettier --write

ci: revert ignoreDeprecations to 5.0 for github compatibility
  tsconfig.json
Due: prettier --write

Improve assignment library filters, cards, pagination, and custom selects
  components/b2b/ContentManagement.tsx
  components/ui/Select.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

Add organization profile location and service settings
  app/[locale]/(b2b)/b2b/organization/page.tsx
  lib/b2b/api.ts
  lib/b2b/countries.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

Speed up B2B auth profile restoration
  app/[locale]/(b2b)/b2b/login/page.tsx
  lib/b2b/AuthContext.tsx
Due: eslint --fix, prettier --write

Index organization memberships for faster role lookup
  backend/src/domains/invitations/inviteCreation.routes.ts
  backend/src/domains/invitations/invitesAccept.routes.ts
  backend/src/domains/invitations/join.routes.ts
  backend/src/domains/organizations/orgs.routes.ts
  backend/src/domains/organizations/team.routes.ts
  backend/src/domains/users/me.routes.ts
  backend/src/domains/users/session.routes.ts
Due: none

refactor: split the huge files into compontent style and types files
  components/b2b/ContentManagement.styles.ts
  components/b2b/ContentManagement.tsx
  components/ui/Select.styles.ts
  components/ui/Select.tsx
  components/ui/Select.types.ts
Due: eslint --fix, prettier --write

feat: add E2E coverage and refine finance, notifications, parent flows, and payment service APIs v2.
  .github/workflows/ci.yml
  .gitignore
  app/[locale]/(b2b)/b2b/finance/page.tsx
  backend/src/domains/payments/invoiceGeneration.service.ts
  backend/src/domains/payments/providers/FinikPaymentProvider.ts
  backend/src/domains/payments/providers/registry.ts
  backend/src/modules/notifications/notification.types.ts
  backend/src/modules/parent-api/parent.routes.ts
  e2e/assignments.spec.ts
  e2e/b2b-auth.spec.ts
  e2e/connect-page.spec.ts
  e2e/helpers/b2b.ts
  e2e/smoke.spec.ts
  lib/b2b/AuthContext.tsx
  package-lock.json
  package.json
  playwright.config.ts
Due: eslint --fix, prettier --write

fix: api changes routes
  backend/src/domains/invitations/parentInviteLink.routes.ts
Due: none

fix: formating prettier
  backend/src/modules/notifications/notification.types.ts
  backend/src/modules/parent-api/parent.routes.ts
Due: none

fix: playwrite changed
  playwright.config.ts
Due: none

fix: harden analytics startup and switch Playwright readiness checks to a dedicated health endpoint.
  app/api/health/route.ts
  lib/analytics/index.ts
  lib/firebase/config.ts
  playwright.config.ts
Due: eslint --fix, prettier --write

fix: preload B2B profiles on login and speed up organization lookup during authenticated startup!!!!
  app/[locale]/(b2b)/b2b/login/page.tsx
  backend/src/domains/users/me.routes.ts
  backend/src/domains/users/session.routes.ts
  lib/b2b/AuthContext.tsx
  lib/b2b/profileCache.ts
Due: eslint --fix, prettier --write

fix: optimize parent startup flows, invoice deep links, intake submission, and child access fast now
  backend/src/domains/children/childrenIntake.routes.ts
  backend/src/domains/payments/invoice.service.ts
  backend/src/domains/payments/invoiceGeneration.service.ts
  backend/src/domains/users/parents.routes.ts
  backend/src/modules/parent-api/parent.routes.ts
  backend/src/plugins/rbac.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

refactor: type parent invite handlers and remove the unused legacy backend auth plugin safely now!!!
  backend/src/domains/invitations/parentInviteLink.routes.ts
  backend/src/plugins/auth.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

fix: ci issues backend prettier format
  backend/src/domains/invitations/parentInviteLink.routes.ts
  backend/src/domains/users/parents.routes.ts
  backend/src/modules/parent-api/parent.routes.ts
Due: none

fix: ci changes
  .github/workflows/ci.yml
  package.json
Due: prettier --write

fix: smoke test e2e changes
  e2e/smoke.spec.ts
Due: none

fix: e2e test issues
  e2e/smoke.spec.ts
  package.json
Due: prettier --write

fix: show guardian addresses on child profiles
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

fix: sync organization membership lookup
  backend/src/domains/users/me.routes.ts
  backend/src/domains/users/session.routes.ts
  backend/src/plugins/rbac.ts
  backend/src/shared/guards/orgMember.guard.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json
