Repository Manavault-Dev/nuroo-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

.lintstagedrc.json:

{
  "app/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "components/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "lib/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "types/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "backend/src/routes/**/*.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "backend/src/plugins/**/*.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "backend/src/{config,firebaseAdmin,index,types}.ts": [
    "eslint --fix --config backend/.eslintrc.json",
    "prettier --write"
  ],
  "*.{js,jsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

feat: add organization marketplace media settings
  app/[locale]/(b2b)/b2b/organization/page.tsx
  backend/src/domains/organizations/orgs.routes.ts
  backend/src/index.ts
  backend/src/types.ts
  lib/b2b/api.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

chore: remove default select placeholder text
  components/ui/Select.tsx
Due: eslint --fix, prettier --write

fix: change the versions
  package.json
Due: prettier --write

feat: optimize landing visuals and assets
  app/[locale]/layout.tsx
  app/[locale]/page.tsx
  app/globals.css
  app/layout.tsx
  components/landing/GooglePlayButton.tsx
  components/landing/Hero.tsx
  components/layout/Header.tsx
  package-lock.json
  package.json
  public/architecture.webp
  public/asknuroo-screen.webp
  public/globe.webp
  public/logo.webp
  public/mother-and-child.webp
  public/post.webp
  public/progress.webp
  public/welcome.webp
Due: eslint --fix, prettier --write

fix: stabilize b2b shell loading and plan state
  app/[locale]/(b2b)/layout.tsx
  app/global-error.tsx
  backend/src/modules/payments/planLimits.ts
  components/b2b/Header.tsx
  components/b2b/NotificationBell.tsx
  components/b2b/Sidebar.tsx
  components/ui/SubscriptionBanner.tsx
  instrumentation-client.ts
  lib/analytics/index.ts
  lib/b2b/AuthContext.tsx
  lib/b2b/planContext.tsx
  lib/firebase/config.ts
  lib/sentryClient.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
  next.config.js
Due: eslint --fix, prettier --write

feat: create and preview tasks from groups
  app/[locale]/(b2b)/b2b/groups/components.tsx
  app/[locale]/(b2b)/b2b/groups/page.tsx
  app/[locale]/(b2b)/b2b/groups/types.ts
  backend/src/domains/content/orgContent.service.ts
  backend/src/domains/content/orgContentAdmin.routes.ts
  backend/src/domains/groups/groupAssignments.routes.ts
  backend/src/domains/groups/groups.service.ts
  components/b2b/ContentManagement.tsx
  components/b2b/OrgTaskForm.tsx
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

perf: defer dashboard media and assistant loading
  app/[locale]/(b2b)/b2b/components/assistant/index.tsx
  app/[locale]/(b2b)/b2b/page.tsx
Due: eslint --fix, prettier --write

feat: add AI-assisted child reports
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  app/[locale]/(b2b)/b2b/reports/page.tsx
  backend/src/domains/ai/aiReport.routes.ts
  backend/src/domains/ai/index.ts
  components/b2b/AIReportBuilder.tsx
Due: eslint --fix, prettier --write

feat: add organization demo data tools
  app/[locale]/(b2b)/b2b/organization/page.tsx
  backend/src/domains/system/demoSeed.routes.ts
  backend/src/domains/system/index.ts
  backend/src/domains/users/me.routes.ts
Due: eslint --fix, prettier --write

style: format backend routes for lint
  backend/src/domains/ai/aiReport.routes.ts
  backend/src/domains/content/orgContent.service.ts
  backend/src/domains/system/demoSeed.routes.ts
Due: none

fix: rate limit demo data routes
  backend/src/domains/system/demoSeed.routes.ts
Due: none

feat: add courses domain and fix AI task generation backend
  app/[locale]/(b2b)/b2b/courses/[courseId]/page.tsx
  app/[locale]/(b2b)/b2b/courses/new/page.tsx
  app/[locale]/(b2b)/b2b/courses/page.tsx
  backend/src/domains/ai/parentAi.routes.ts
  backend/src/domains/courses/courseAccess.service.ts
  backend/src/domains/courses/courses.routes.ts
  backend/src/domains/courses/courses.types.ts
  backend/src/domains/courses/index.ts
  backend/src/domains/courses/marketplace.routes.ts
  backend/src/index.ts
  components/b2b/Sidebar.tsx
  lib/b2b/api.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
  src/shared/layouts 2/index.ts
  src/shared/layouts 3/index.ts
  src/shared/types 2/index.ts
  src/shared/types 3/index.ts
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

fix: raise AI prompt size limit from 100 to 5000 chars in backend schema
  backend/src/domains/ai/parentAi.routes.ts
Due: none

feat: add courses backend domain with CRUD, marketplace and enrollment routes
  backend/src/domains/courses/courseAccess.service.ts
  backend/src/domains/courses/courses.routes.ts
  backend/src/domains/courses/courses.types.ts
  backend/src/domains/courses/index.ts
  backend/src/domains/courses/marketplace.routes.ts
  backend/src/index.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat: add B2B courses pages (list, create, detail with modules and lessons)
  app/[locale]/(b2b)/b2b/courses/[courseId]/page.tsx
  app/[locale]/(b2b)/b2b/courses/new/page.tsx
  app/[locale]/(b2b)/b2b/courses/page.tsx
Due: eslint --fix, prettier --write

feat: add courses nav link, API methods and i18n keys for courses feature
  components/b2b/Sidebar.tsx
  lib/b2b/api.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

chore: remove duplicate layout and type stub files
  src/shared/layouts 2/index.ts
  src/shared/layouts 3/index.ts
  src/shared/types 2/index.ts
  src/shared/types 3/index.ts
Due: eslint --fix, prettier --write

revert: remove untested courses feature from PR
  app/[locale]/(b2b)/b2b/courses/[courseId]/page.tsx
  app/[locale]/(b2b)/b2b/courses/new/page.tsx
  app/[locale]/(b2b)/b2b/courses/page.tsx
  backend/src/domains/courses/courseAccess.service.ts
  backend/src/domains/courses/courses.routes.ts
  backend/src/domains/courses/courses.types.ts
  backend/src/domains/courses/index.ts
  backend/src/domains/courses/marketplace.routes.ts
  backend/src/index.ts
  components/b2b/Sidebar.tsx
  lib/b2b/api.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

Revert "revert: remove untested courses feature from PR"
  app/[locale]/(b2b)/b2b/courses/[courseId]/page.tsx
  app/[locale]/(b2b)/b2b/courses/new/page.tsx
  app/[locale]/(b2b)/b2b/courses/page.tsx
  backend/src/domains/courses/courseAccess.service.ts
  backend/src/domains/courses/courses.routes.ts
  backend/src/domains/courses/courses.types.ts
  backend/src/domains/courses/index.ts
  backend/src/domains/courses/marketplace.routes.ts
  backend/src/index.ts
  components/b2b/Sidebar.tsx
  lib/b2b/api.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

feat: restore course polish and verification flow
  app/[locale]/(b2b)/b2b/courses/[courseId]/page.tsx
  app/[locale]/(b2b)/b2b/courses/new/page.tsx
  app/[locale]/(b2b)/b2b/courses/page.tsx
  backend/src/domains/courses/courses.routes.ts
  backend/src/domains/verifications/childVerifications.routes.ts
  backend/src/domains/verifications/index.ts
  lib/b2b/AuthContext.tsx
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

feat: unify org_admin role validation and fix dynamic dashboard rendering
  app/[locale]/(b2b)/b2b/billing/page.tsx
  app/[locale]/(b2b)/b2b/branches/page.tsx
  app/[locale]/(b2b)/b2b/brand/page.tsx
  app/[locale]/(b2b)/b2b/finance/page.tsx
  app/[locale]/(b2b)/b2b/organization/page.tsx
  app/[locale]/(b2b)/b2b/page.tsx
  app/[locale]/(b2b)/b2b/reports/page.tsx
  app/[locale]/(b2b)/b2b/settings/page.tsx
  app/[locale]/(b2b)/b2b/team/page.tsx
  app/[locale]/(b2b)/layout.tsx
  components/b2b/Sidebar.tsx
  lib/b2b/AuthContext.tsx
  lib/b2b/api.ts
  lib/b2b/roleUtils.ts
  lib/b2b/usePageAuth.ts
  package-lock.json
  src/config/routes.ts
  src/features/organization/hooks/useOrganization.ts
  src/shared/layouts/Sidebar.tsx
  src/shared/types/user.ts
  tests/b2bRole.test.ts
Due: eslint --fix, prettier --write

fix: update dependencies and fix ci issues
  package-lock.json
Due: prettier --write

feat(analytics): display parent first and last names instead of usernames in reports
  backend/src/domains/finance/reports.routes.ts
Due: none

chore: add Nuroo brand mascot assets
  public/favicon.svg
  public/mascot-1.svg
  public/mascot-3.svg
  public/mascot-5.svg
  public/mascot-6.svg
Due: none

feat: build course marketplace and lesson progress flows
  app/[locale]/(b2b)/b2b/courses/[courseId]/page.tsx
  app/[locale]/(b2b)/b2b/courses/page.tsx
  backend/src/domains/courses/__tests__/courseAccess.service.test.ts
  backend/src/domains/courses/__tests__/courses.validation.test.ts
  backend/src/domains/courses/__tests__/marketplace.progress.test.ts
  backend/src/domains/courses/courseAccess.service.ts
  backend/src/domains/courses/courses.routes.ts
  backend/src/domains/courses/courses.types.ts
  backend/src/domains/courses/marketplace.routes.ts
  lib/b2b/api.ts
  src/shared/lib/api/client.ts
Due: eslint --fix, prettier --write

feat: add child verification upload and admin review
  app/[locale]/(b2b)/b2b/admin/verifications/page.tsx
  backend/src/domains/verifications/childVerifications.routes.ts
Due: eslint --fix, prettier --write

fix: stabilize b2b auth and subscription status
  app/[locale]/(b2b)/b2b/billing/page.tsx
  app/[locale]/(b2b)/b2b/login/page.tsx
  app/[locale]/(b2b)/layout.tsx
  backend/src/domains/users/me.routes.ts
  components/b2b/NotificationBell.tsx
  lib/b2b/subscriptionState.ts
  lib/pricing/planFeatureConfig.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

feat: polish Nuroo powered branding surfaces
  app/[locale]/(b2b)/b2b/brand/page.tsx
  app/[locale]/(b2b)/b2b/reports/page.tsx
  app/[locale]/connect/page.tsx
  app/layout.tsx
  app/not-found.tsx
  components/b2b/PoweredByNuroo.tsx
  components/b2b/Sidebar.tsx
Due: eslint --fix, prettier --write

chore: ignore agent config and remove push shim
  .gitignore
  backend/src/services/pushNotificationService.ts
Due: none

fix: restore backend build after course payment changes
  backend/src/domains/children/childrenRecords.routes.ts
  backend/src/domains/courses/courses.types.ts
  backend/src/domains/courses/marketplace.routes.ts
  backend/src/domains/payments/providers/FinikPaymentProvider.ts
  backend/src/domains/payments/providers/PaymentProvider.interface.ts
Due: none

fix: format backend files for lint
  backend/src/domains/courses/__tests__/marketplace.progress.test.ts
  backend/src/domains/courses/courses.routes.ts
  backend/src/domains/payments/providers/registry.ts
  backend/src/domains/payments/webhook.routes.ts
  backend/src/domains/verifications/childVerifications.routes.ts
  backend/src/infrastructure/auth/rbac.ts
Due: none

fix: refresh auth token for b2b api requests
  backend/src/domains/courses/courses.routes.ts
  backend/src/modules/ai-assistant/intentRoutes.ts
  lib/b2b/AuthContext.tsx
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

fix: strip undefined course fields before Firestore writes
  backend/src/domains/courses/courses.routes.ts
Due: none

refactor: localize and modularize course management
  app/[locale]/(b2b)/b2b/courses/[courseId]/page.tsx
  app/[locale]/(b2b)/b2b/courses/[courseId]/styles.ts
  app/[locale]/(b2b)/b2b/courses/[courseId]/types.ts
  app/[locale]/(b2b)/b2b/courses/[courseId]/utils.ts
  app/[locale]/(b2b)/b2b/courses/new/page.tsx
  app/[locale]/(b2b)/b2b/courses/page.tsx
  components/b2b/courses/CourseCard.tsx
  components/ui/ConfirmModal.tsx
  components/ui/Toast.tsx
  hooks/useToast.ts
  lib/b2b/types/course.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

style: refine powered by nuroo badge
  components/b2b/PoweredByNuroo.tsx
Due: eslint --fix, prettier --write

chore: free backend dev port before startup
  backend/package.json
  backend/scripts/freeDevPort.cjs
Due: prettier --write

feat: add booking backend scheduling flows
  backend/src/domains/booking/__tests__/booking.service.test.ts
  backend/src/domains/booking/__tests__/intake.service.test.ts
  backend/src/domains/booking/availability.routes.ts
  backend/src/domains/booking/booking.routes.ts
  backend/src/domains/booking/booking.service.ts
  backend/src/domains/booking/index.ts
  backend/src/domains/booking/intake.routes.ts
  backend/src/domains/booking/intake.service.ts
  backend/src/domains/booking/services.routes.ts
  backend/src/domains/booking/slots.routes.ts
  backend/src/domains/booking/types.ts
  backend/src/index.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat: add organization reviews backend
  backend/src/domains/organizations/__tests__/reviews.service.test.ts
  backend/src/domains/organizations/index.ts
  backend/src/domains/organizations/orgs.routes.ts
  backend/src/domains/organizations/reviews.routes.ts
  backend/src/domains/organizations/reviews.service.ts
Due: none

feat: add booking and review admin UI
  app/[locale]/(b2b)/b2b/bookings/page.tsx
  app/[locale]/(b2b)/b2b/organization/page.tsx
  components/b2b/Sidebar.tsx
  lib/b2b/api.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write
