Repository Manavault-Dev/nuroo-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

feat(b2b): add NotificationBell component and notifications page
  app/[locale]/(b2b)/b2b/notifications/page.tsx
  app/[locale]/(b2b)/b2b/notifications/preferences/page.tsx
  components/b2b/Header.tsx
  components/b2b/NotificationBell.tsx
Due: eslint --fix, prettier --write

feat(b2b/api): add typed notification methods to ApiClient
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

fix(pricing): remove deprecated plan feature keys and add notification i18n
  lib/pricing/planFeatureKeys.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

fix: ci issues with notification is solved
  backend/src/modules/notifications/notification.service.ts
  backend/src/modules/notifications/notification.types.ts
Due: none

refactor(backend): domain-based modular architecture
  backend/src/domains/ai/ai.routes.ts
  backend/src/domains/ai/index.ts
  backend/src/domains/children/children.routes.ts
  backend/src/domains/children/children.service.ts
  backend/src/domains/children/index.ts
  backend/src/domains/content/content.routes.ts
  backend/src/domains/content/index.ts
  backend/src/domains/content/orgContent.routes.ts
  backend/src/domains/content/orgContent.service.ts
  backend/src/domains/finance/finance.routes.ts
  backend/src/domains/finance/index.ts
  backend/src/domains/groups/groups.routes.ts
  backend/src/domains/groups/groups.service.ts
  backend/src/domains/groups/index.ts
  backend/src/domains/invitations/index.ts
  backend/src/domains/invitations/invitations.routes.ts
  backend/src/domains/messaging/index.ts
  backend/src/domains/messaging/messaging.routes.ts
  backend/src/domains/organizations/index.ts
  backend/src/domains/organizations/organizations.routes.ts
  backend/src/domains/system/index.ts
  backend/src/domains/system/system.routes.ts
  backend/src/domains/tasks/index.ts
  backend/src/domains/tasks/tasks.routes.ts
  backend/src/domains/users/index.ts
  backend/src/domains/users/users.routes.ts
  backend/src/index.ts
  backend/src/routes/children.ts
  backend/src/routes/orgContent.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

refactor: created a domain folder
  backend/src/domains/ai/ai.routes.ts
  backend/src/domains/content/content.routes.ts
  backend/src/domains/finance/finance.routes.ts
  backend/src/domains/invitations/invitations.routes.ts
  backend/src/domains/messaging/messaging.routes.ts
  backend/src/domains/organizations/organizations.routes.ts
  lib/b2b 2/types.ts
  src/shared/layouts 2/index.ts
  src/shared/types 2/index.ts
Due: eslint --fix, prettier --write

feat(backend): child activity feed domain — structured timeline API
  backend/src/domains/activity/activity.routes.ts
  backend/src/domains/activity/activity.service.ts
  backend/src/domains/activity/index.ts
  backend/src/index.ts
Due: prettier --write, eslint --fix --config backend/.eslintrc.json

feat(web): child activity feed — structured timeline in child profile
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  components/b2b/ActivityFeed.tsx
  lib/b2b/api.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

feat(landing): rename to neuroKids + demo login buttons for presentation
  app/[locale]/(b2b)/b2b/login/page.tsx
  components/Footer.tsx
  components/Header.tsx
Due: eslint --fix, prettier --write

feat: rename to neuroKids + demo login buttons for presentation
  app/[locale]/(b2b)/b2b/login/page.tsx
  components/Footer.tsx
  components/Header.tsx
Due: eslint --fix, prettier --write

feat: rename Nuroo to neuroKids in header and footer
  components/Footer.tsx
  components/Header.tsx
Due: eslint --fix, prettier --write

feat: add demo login and neuroKids landing copy
  app/[locale]/(b2b)/b2b/login/page.tsx
  components/Footer.tsx
  components/Header.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

fix: name of the demo version
  app/[locale]/(b2b)/b2b/login/page.tsx
Due: eslint --fix, prettier --write

fix: format landing header logo
  components/Header.tsx
Due: eslint --fix, prettier --write

fix: domain modeule and text are changed
  app/[locale]/(b2b)/b2b/billing/page.tsx
  app/[locale]/(b2b)/b2b/login/page.tsx
  backend/scripts/setSuperAdmin.ts
  components/Footer.tsx
  components/Header.tsx
  components/Pricing.tsx
  lib/b2b 3/types.ts
  messages/en.json
  messages/ky.json
  messages/ru.json
  src/shared/layouts 3/index.ts
  src/shared/types 3/index.ts
Due: eslint --fix, prettier --write

fix: format activity domain backend files
  backend/src/domains/activity/activity.routes.ts
  backend/src/domains/activity/activity.service.ts
Due: none

fix: align b2b api client types
  lib/b2b/api.ts
Due: eslint --fix, prettier --write

fix: restore missing production translations
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: prettier --write

fix: localize b2b interface copy
  app/[locale]/(b2b)/b2b/billing/page.tsx
  app/[locale]/(b2b)/b2b/branches/page.tsx
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  app/[locale]/(b2b)/b2b/groups/page.tsx
  app/[locale]/(b2b)/b2b/register/page.tsx
  app/[locale]/(b2b)/b2b/settings/page.tsx
  components/b2b/ActivityFeed.tsx
  components/b2b/ContentManagement.tsx
  components/b2b/Sidebar.tsx
  components/ui/PricingCard.tsx
  messages/en.json
  messages/ky.json
  messages/ru.json
Due: eslint --fix, prettier --write

fix: polish b2b login copy
  app/[locale]/(b2b)/b2b/login/page.tsx
Due: eslint --fix, prettier --write

fix(attendance): remove finance gate, add specialist group children access
  app/[locale]/(b2b)/b2b/finance/page.tsx
  backend/src/domains/finance/orgFinance.routes.ts
Due: eslint --fix, prettier --write

chore: remove orphaned lib/b2b 2 and lib/b2b 3 directories
  lib/b2b 2/types.ts
  lib/b2b 3/types.ts
Due: eslint --fix, prettier --write

fix(security): verify org membership in AI chat endpoint
  backend/src/modules/ai-assistant/routes.ts
Due: none

fix: fixed payment role base access control
  backend/src/domains/children/childrenRecords.routes.ts
  backend/src/modules/payments/payments.routes.ts
  backend/src/modules/payments/payments.service.ts
Due: none

refactor: refactor the component files into structured folders
  app/[locale]/layout.tsx
  app/[locale]/page.tsx
  backend/src/domains/children/children.service.ts
  backend/src/domains/finance/orgFinance.routes.ts
  components/b2b/Header.tsx
  components/effects/LandingOnlyEffects.tsx
  components/effects/ScrollInit.tsx
  components/effects/ScrollProgress.tsx
  components/landing/AppStoreButton.tsx
  components/landing/Features.tsx
  components/landing/GooglePlayButton.tsx
  components/landing/Hero.tsx
  components/landing/IndependentPath.tsx
  components/landing/Platform.tsx
  components/landing/Pricing.tsx
  components/landing/Problem.tsx
  components/landing/Solution.tsx
  components/landing/Testimonials.tsx
  components/layout/ConditionalHeader.tsx
  components/layout/Footer.tsx
  components/layout/Header.tsx
  components/layout/LocaleSwitcher.tsx
  components/providers/ThemeProvider.tsx
Due: eslint --fix, prettier --write

fix: tighten b2b auth and task access
  app/[locale]/(b2b)/b2b/assignments/page.tsx
  app/[locale]/(b2b)/b2b/billing/page.tsx
  app/[locale]/(b2b)/b2b/billing/success/page.tsx
  app/[locale]/(b2b)/b2b/children/[childId]/page.tsx
  app/[locale]/(b2b)/b2b/children/page.tsx
  app/[locale]/(b2b)/b2b/groups/page.tsx
  app/[locale]/(b2b)/b2b/invites/page.tsx
  app/[locale]/(b2b)/b2b/settings/page.tsx
  backend/src/domains/activity/activity.service.ts
  backend/src/domains/children/childrenTasks.routes.ts
  backend/src/domains/messaging/notes.routes.ts
  backend/src/domains/tasks/assignments.routes.ts
  backend/src/domains/tasks/parentTasks.routes.ts
  lib/b2b/AuthContext.tsx
  lib/b2b/api.ts
  lib/b2b/authClient.ts
  lib/b2b/usePageAuth.ts
Due: eslint --fix, prettier --write

fix: clean deployment build and harden safeguards
  app/[locale]/(b2b)/b2b/children/page.tsx
  backend/src/domains/activity/activity.routes.ts
  backend/src/domains/finance/reports.routes.ts
  backend/src/modules/ai-assistant/service.ts
Due: eslint --fix, prettier --write

fix: assignment mobile version layout fixed
  components/b2b/ContentManagement.tsx
Due: eslint --fix, prettier --write

fix: give permission for organization to manage with their own groups
  app/[locale]/(b2b)/b2b/groups/components.tsx
  app/[locale]/(b2b)/b2b/groups/page.tsx
Due: eslint --fix, prettier --write

feat: add sentry instrumentation
  .gitignore
  app/[locale]/(b2b)/layout.tsx
  app/api/sentry-example-api/route.ts
  app/global-error.tsx
  app/sentry-example-page/page.tsx
  backend/package-lock.json
  backend/package.json
  backend/src/domains/activity/activity.service.ts
  backend/src/domains/system/health.routes.ts
  backend/src/index.ts
  backend/src/instrument.ts
  instrumentation-client.ts
  instrumentation.ts
  middleware.ts
  next.config.js
  package-lock.json
  package.json
  sentry.edge.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write, eslint --fix --config backend/.eslintrc.json

fix: changed the billing plan issue
  app/[locale]/(b2b)/layout.tsx
  app/api/sentry-example-api/route.ts
  app/sentry-example-page/page.tsx
  backend/src/modules/payments/payments.repository.ts
  lib/b2b/AuthContext.tsx
  middleware.ts
Due: eslint --fix, prettier --write

fix: ci issuis in activity feed
  backend/src/domains/system/health.routes.ts
Due: none

fix: ci effective roles between roles solved
  backend/src/domains/activity/activity.routes.ts
Due: none

fix: ci and cloud run deploy,emt and cors issue
  .github/workflows/deploy-production.yml
  backend/src/domains/system/health.routes.ts
Due: prettier --write

fix: issue with cache loading and increse the speed of loading
  app/[locale]/(b2b)/b2b/onboarding/page.tsx
  app/[locale]/(b2b)/b2b/register/page.tsx
  lib/b2b/AuthContext.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (((((any of: app/**/*.{ts,tsx}) or (any of: components/**/*.{ts,tsx})) or (any of: lib/**/*.{ts,tsx})) or (any of: src/**/*.{ts,tsx})) or (any of: types/**/*.{ts,tsx})) or (any of: *.{js,jsx,mjs})
  prettier --write: ((((((((((any of: app/**/*.{ts,tsx}) or (any of: components/**/*.{ts,tsx})) or (any of: lib/**/*.{ts,tsx})) or (any of: src/**/*.{ts,tsx})) or (any of: types/**/*.{ts,tsx})) or (any of: backend/src/routes/**/*.ts)) or (any of: backend/src/plugins/**/*.ts)) or (any of: backend/src/{config,firebaseAdmin,index,types}.ts)) or (any of: *.{js,jsx,mjs})) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  eslint --fix --config backend/.eslintrc.json: ((any of: backend/src/routes/**/*.ts) or (any of: backend/src/plugins/**/*.ts)) or (any of: backend/src/{config,firebaseAdmin,index,types}.ts)
